<section class="container mb-5 pt-lg-2 pt-xl-4 pb-2 pb-md-3 pb-lg-5">
  <h2 class="h1 mb-4 text-center">Featured Projects</h2>
  <p class="mb-4 mx-auto pb-3 fs-lg text-center" style="max-width: 636px">
    We create websites and mobile apps, marketing materials, branding, web
    design, UX/UI design and illustrations.
  </p>

  <ngx-masonry class="masonry-grid row g-md-4 g-3 mb-4">
    <div class="masonry-grid-item col-md-4 col-sm-6 col-12" ngxMasonryItem>
      <a
        routerLink="/portfolio/single-project"
        class="card card-portfolio card-hover bg-transparent border-0"
      >
        <div
          class="card-img-overlay d-flex flex-column align-items-center justify-content-center rounded-3"
        >
          <span
            class="position-absolute top-0 start-0 w-100 h-100 bg-dark opacity-50 rounded-3"
          ></span>
          <div class="position-relative zindex-2">
            <h3 class="h5 text-light mb-2">
              Astronaut &amp; Flashing Neon Lights
            </h3>
            <span class="fs-sm text-light opacity-70"
              >3D Render / Graphic Design / Motion Design</span
            >
          </div>
        </div>
        <div class="card-img">
          <img
            src="assets/img/portfolio/grid/07.jpg"
            class="rounded-3"
            alt="Image"
          />
        </div>
      </a>
    </div>

    <div class="masonry-grid-item col-md-4 col-sm-6 col-12" ngxMasonryItem>
      <a
        routerLink="/portfolio/single-project"
        class="card card-portfolio card-hover bg-transparent border-0"
      >
        <div
          class="card-img-overlay d-flex flex-column align-items-center justify-content-center rounded-3"
        >
          <span
            class="position-absolute top-0 start-0 w-100 h-100 bg-dark opacity-50 rounded-3"
          ></span>
          <div class="position-relative zindex-2">
            <h3 class="h5 text-light mb-2">
              Plaster Antique Sculpture in a Pop Art Style
            </h3>
            <span class="fs-sm text-light opacity-70"
              >NFT / Graphic Design / Art / 3D</span
            >
          </div>
        </div>
        <div class="card-img">
          <img
            src="assets/img/portfolio/grid/08.jpg"
            class="rounded-3"
            alt="Image"
          />
        </div>
      </a>
    </div>

    <div class="masonry-grid-item col-md-4 col-sm-6 col-12" ngxMasonryItem>
      <a
        routerLink="/portfolio/single-project"
        class="card card-portfolio card-hover bg-transparent border-0"
      >
        <div
          class="card-img-overlay d-flex flex-column align-items-center justify-content-center rounded-3"
        >
          <span
            class="position-absolute top-0 start-0 w-100 h-100 bg-dark opacity-50 rounded-3"
          ></span>
          <div class="position-relative zindex-2">
            <h3 class="h5 text-light mb-2">Big Blue Whale Shape</h3>
            <span class="fs-sm text-light opacity-70"
              >3D Pollygonal Shape / Graphic Design / Art</span
            >
          </div>
        </div>
        <div class="card-img">
          <img
            src="assets/img/portfolio/grid/09.jpg"
            class="rounded-3"
            alt="Image"
          />
        </div>
      </a>
    </div>

    <div class="masonry-grid-item col-md-8 col-12" ngxMasonryItem>
      <a
        routerLink="/portfolio/single-project"
        class="card card-portfolio card-hover bg-transparent border-0"
      >
        <div
          class="card-img-overlay d-flex flex-column align-items-center justify-content-center rounded-3"
        >
          <span
            class="position-absolute top-0 start-0 w-100 h-100 bg-dark opacity-50 rounded-3"
          ></span>
          <div class="position-relative zindex-2">
            <h3 class="h5 text-light mb-2">3D Shape Illustration</h3>
            <span class="fs-sm text-light opacity-70"
              >3D Design / Illustration / Art</span
            >
          </div>
        </div>
        <div class="card-img">
          <img
            src="assets/img/portfolio/grid/10.jpg"
            class="rounded-3"
            alt="Image"
          />
        </div>
      </a>
    </div>
  </ngx-masonry>

  <div class="pt-md-3 pt-2 text-center">
    <a
      routerLink="/portfolio/grid"
      class="btn btn-lg btn-primary w-sm-auto w-100"
      >Explore all</a
    >
  </div>
</section>
