<div class="bg-secondary rounded-3 my-2 my-md-4 my-lg-5 py-5 px-3 px-md-0">
  <div class="row align-items-center">
    <div
      class="col-md-5 offset-lg-1 text-center text-md-start ps-md-5 ps-lg-0 ps-xl-5 pb-2 pb-md-0 mb-4 mb-md-0"
    >
      <p class="lead mb-3">Ready to get started?</p>
      <h2 class="h1 pb-2 pb-md-4">
        Take Your <span class="text-primary">Skills</span> to the Next Level
      </h2>
      <a href="javascript:void(0)" class="btn btn-primary btn-lg"
        >Sign up now!</a
      >
    </div>
    <div class="col-lg-6 col-md-7">
      <div class="d-table mx-auto">
        <img
          src="assets/img/landing/online-courses/steps/04-dark.svg"
          class="d-dark-mode-none"
          width="380"
          alt="Illustration"
        />
        <img
          src="assets/img/landing/online-courses/steps/04-light.svg"
          class="d-none d-dark-mode-block"
          width="380"
          alt="Illustration"
        />
      </div>
    </div>
  </div>
</div>
