<section class="container mb-5 pb-lg-5">
  <div class="row gy-md-5 gy-4">
    <div class="col-lg-3 col-md-4 order-md-2 position-relative">
      <div class="sticky-top ms-xxl-5 ps-lg-4" style="top: 105px !important">
        <div class="d-flex align-items-center position-relative mb-lg-5 mb-4">
          <img
            src="assets/img/avatar/06.jpg"
            class="rounded-circle me-3"
            width="60"
            alt="Avatar"
          />
          <div>
            <h4 class="h6 mb-1">Hosted by</h4>
            <a href="javascript:void(0)" class="fw-semibold stretched-link"
              >Jenny Wilson</a
            >
          </div>
        </div>
        <button type="button" class="btn btn-lg btn-outline-secondary mb-3">
          <i class="bx bx-like me-2 lead"></i>
          Like it
          <span class="badge bg-primary shadow-primary ms-3">8</span>
        </button>
      </div>
    </div>

    <div class="col-lg-9 col-md-8 order-md-1">
      <div class="card p-lg-4 p-md-2 mb-4 mb-lg-5">
        <div class="audio-player card-body p-2 p-sm-4">
          <audio
            #audioPlayer
            [src]="audioSrc"
            preload="auto"
            (timeupdate)="updateTime(audioPlayer)"
            (loadedmetadata)="updateDuration(audioPlayer)"
          ></audio>
          <button
            type="button"
            class="ap-play-button btn btn-icon btn-primary shadow-primary"
            [ngClass]="{ 'ap-pause': isPlaying }"
            aria-label="Play/pause"
            (click)="toggleAudio(audioPlayer)"
          ></button>
          <span class="ap-current-time flex-shr fw-medium mx-3 mx-lg-4">{{
            currentTime
          }}</span>
          <input
            type="range"
            class="ap-seek-slider"
            max="100"
            [value]="
              ((audioPlayer?.currentTime || 0) / (audioPlayer?.duration || 1)) *
              100
            "
            (input)="seekAudio(audioPlayer, $event)"
          />

          <span class="ap-duration flex-shr fw-medium mx-3 mx-lg-4">{{
            duration
          }}</span>
          <div ngbDropdown [placement]="'top'" class="dropup">
            <button
              ngbDropdownToggle
              type="button"
              class="ap-volume-button btn btn-icon btn-secondary arrow-none"
              data-bs-toggle="dropdown"
              data-bs-auto-close="outside"
              aria-haspopup="true"
              aria-expanded="false"
              aria-label="Volume"
            >
              <i class="bx bx-volume-full"></i>
            </button>
            <div ngbDropdownMenu class="dropdown-menu dropdown-menu-dark my-1">
              <input
                type="range"
                class="ap-volume-slider"
                max="100"
                value="100"
                (input)="setVolume(audioPlayer, $event)"
              />
            </div>
          </div>
          <a
            [href]="audioSrc"
            download="audio-sample"
            class="btn btn-icon btn-secondary ms-2"
            aria-label="Download"
          >
            <i class="bx bx-download"></i>
          </a>
        </div>
      </div>

      <h3 class="h4 mb-4 pt-2 pt-md-0">Timeline</h3>
      <ul class="list-unstyled mb-0">
        <li class="d-flex mb-2">
          <span
            class="flex-shrink-0 fw-medium text-nowrap me-2"
            style="width: 80px"
            >00:05:12</span
          >
          Diam erat molestie duis auctor sit quis.
        </li>
        <li class="d-flex mb-2">
          <span
            class="flex-shrink-0 fw-medium text-nowrap me-2 text-primary"
            style="width: 80px"
            >00:28:19</span
          >
          Non mi eget molestie pretium commodo urna duis facilisis turpis.
        </li>
        <li class="d-flex mb-2">
          <span
            class="flex-shrink-0 fw-medium text-nowrap me-2"
            style="width: 80px"
            >00:45:37</span
          >
          Sit placerat adipiscing interdum libero neque, aliquam nec imperdiet
          ullamcorper.
        </li>
        <li class="d-flex mb-2">
          <span
            class="flex-shrink-0 fw-medium text-nowrap me-2"
            style="width: 80px"
            >00:56:04</span
          >
          Pulvinar eu porttitor nulla morbi varius tristique leo.
        </li>
        <li class="d-flex mb-2">
          <span
            class="flex-shrink-0 fw-medium text-nowrap me-2"
            style="width: 80px"
            >01:32:17</span
          >
          Cras et gravida iaculis vel at quis euismod.
        </li>
        <li class="d-flex mb-2">
          <span
            class="flex-shrink-0 fw-medium text-nowrap me-2"
            style="width: 80px"
            >01:50:43</span
          >
          Volutpat malesuada nulla lectus justo tempus est sollicitudin.
        </li>
      </ul>
    </div>
  </div>
</section>
