<section class="container pb-lg-2 mt-md-n2">
  <div class="card border-0 bg-gradient-primary">
    <div
      class="card-body p-md-5 p-4 bg-size-cover"
      style="
        background-image: url(assets/img/landing/digital-agency/contact-bg.png);
      "
    >
      <div class="py-md-5 py-4 text-center">
        <h3 class="h4 fw-normal text-light opacity-75">
          Want to work with us? Let’s talk
        </h3>
        <a href="mailto:email@example.com" class="display-6 text-light"
          >email&#64;example.com</a
        >
        <div class="pt-md-5 pt-4 pb-md-2">
          <a routerLink="/contacts/v1" class="btn btn-lg btn-light"
            >Contact us</a
          >
        </div>
      </div>
    </div>
  </div>
</section>
