<section class="position-relative pt-sm-2 pt-md-4 pt-lg-5">
  <div
    class="bg-gradient-primary position-absolute top-0 start-0 w-100 opacity-15"
    style="height: calc(100% - 7rem)"
  ></div>
  <div class="container position-relative zindex-2 pt-5">
    <div class="row row-cols-1 row-cols-md-2 pt-2 pt-md-3 pb-5 mb-md-2 mb-lg-4">
      <div class="col mb-4">
        <h2 class="h1 mb-0">
          User-friendly electric
          <span class="text-primary">scooter</span> designed exceptionally for
          <span class="text-primary">sharing</span>
        </h2>
      </div>
      <div class="col">
        <p class="fs-xl mb-0">
          With a seamless form and swanlike silhouette, our scooter is designed
          to change micro-mobility forever. We engineered every element around
          the comfort of our riders, putting the vehicle through rigorous
          testing to verify its safety and durability in all environments.
        </p>
      </div>
    </div>
    <div
      class="position-relative bg-dark rounded-3 overflow-hidden px-5"
      style="padding-top: 9.7%; padding-bottom: 6%"
    >
      <div
        class="position-absolute top-0 start-0 w-100 h-100"
        style="background-color: rgba(255, 255, 255, 0.04)"
      ></div>
      <div class="position-relative zindex-2 mx-auto" style="max-width: 852px">
        <img
          src="assets/img/landing/startup/scooter.png"
          class="d-block"
          alt="Scooter"
        />

        <div
          class="d-flex align-items-center position-absolute top-0"
          style="left: 61.7%"
        >
          <div
            class="btn btn-icon btn-primary bg-transparent fs-lg text-white fw-bold rounded-circle pe-none"
          >
            1
          </div>
          <div class="fs-xl text-white opacity-70 ms-3 d-none d-md-block">
            GPS / GSM enabled
          </div>
          <div class="fs-sm text-white opacity-70 ms-2 d-md-none">
            GPS / GSM enabled
          </div>
        </div>

        <div
          class="d-flex align-items-center position-absolute"
          style="top: 3.2%; right: 68.3%"
        >
          <div class="fs-xl text-white opacity-70 me-3 d-none d-md-block">
            Urban design
          </div>
          <div class="fs-sm text-white opacity-70 me-2 d-md-none">
            Urban design
          </div>
          <div
            class="btn btn-icon btn-primary bg-transparent fs-lg text-white fw-bold rounded-circle pe-none"
          >
            2
          </div>
        </div>

        <div
          class="d-flex align-items-center position-absolute"
          style="top: 26.8%; right: 49.9%"
        >
          <div
            class="fs-xl text-white opacity-70 me-3 text-end d-none d-md-block"
          >
            Long-lasting<br />battery
          </div>
          <div class="fs-sm text-white opacity-70 me-2 text-end d-md-none">
            Long-lasting<br />battery
          </div>
          <div
            class="btn btn-icon btn-primary bg-transparent fs-lg text-white fw-bold rounded-circle pe-none"
          >
            3
          </div>
        </div>

        <div
          class="d-flex align-items-center position-absolute"
          style="top: 45%; left: 64.8%"
        >
          <div
            class="btn btn-icon btn-primary bg-transparent fs-lg text-white fw-bold rounded-circle pe-none"
          >
            4
          </div>
          <div class="fs-xl text-white opacity-70 ms-3 d-none d-md-block">
            Anti-theft<br />encryption
          </div>
          <div class="fs-sm text-white opacity-70 ms-2 d-md-none">
            Anti-theft<br />encryption
          </div>
        </div>

        <div
          class="d-flex align-items-center position-absolute"
          style="top: 62%; right: 74.5%"
        >
          <div
            class="fs-xl text-white opacity-70 me-3 text-end d-none d-md-block"
          >
            Safety elements
          </div>
          <div class="fs-sm text-white opacity-70 me-2 text-end d-md-none">
            Safety elements
          </div>
          <div
            class="btn btn-icon btn-primary bg-transparent fs-lg text-white fw-bold rounded-circle pe-none"
          >
            5
          </div>
        </div>

        <div
          class="d-flex align-items-center position-absolute"
          style="top: 67%; left: 72.5%"
        >
          <div
            class="btn btn-icon btn-primary bg-transparent fs-lg text-white fw-bold rounded-circle pe-none"
          >
            6
          </div>
          <div class="fs-xl text-white opacity-70 ms-3 d-none d-md-block">
            Enhanced motor<br />output
          </div>
          <div class="fs-sm text-white opacity-70 ms-2 d-md-none">
            Enhanced motor<br />output
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
