<main class="page-wrapper">
  <component-topbar headerClassName="fixed-top bg-light" />

  <section
    class="vh-100 bg-repeat-0 bg-position-center bg-size-cover overflow-hidden"
    style="background-image: url(assets/img/landing/intro/hero/bg.jpg)"
    data-bs-theme="dark"
  >
    <div class="container vh-100">
      <div class="row flex-nowrap vh-100">
        <div
          class="col-lg-4 col-md-5 d-flex flex-column text-center text-md-start py-5"
        >
          <h1 class="display-3 mt-auto mb-4">Silicon</h1>
          <p class="lead text-light opacity-70 pb-5 mb-0 mb-md-3">
            Multipurpose Business /<br class="d-none d-md-inline" />
            Technology Template
          </p>
          <img
            src="assets/img/landing/intro/hero/switcher.svg"
            width="212"
            class="d-block mx-auto mx-md-0"
            alt="Light / Dark Mode"
          />
          <div
            class="position-relative d-flex align-items-center justify-content-center justify-content-md-start mb-md-4 mb-lg-5 mt-auto"
          >
            <div class="btn btn-icon btn-secondary rounded-circle">
              <i class="bx bx-chevron-down"></i>
            </div>
            <a
              [ngxScrollTo]="'#landings'"
              class="nav-link stretched-link text-light fw-normal opacity-80 py-2 px-3"
              data-scroll
              data-scroll-offset="70"
              >View Landings</a
            >
          </div>
        </div>
        <div class="d-flex flex-shrink-0 align-items-start">
          <img
            src="assets/img/landing/intro/hero/screens01.png"
            class="rellax d-block flex-shrink-0 mt-n5"
            width="486"
            height="1390"
            alt="Screens"
          />
          <img
            src="assets/img/landing/intro/hero/screens02.png"
            class="rellax d-block flex-shrink-0 mt-5"
            width="486"
            height="1470"
            alt="Screens"
          />
          <img
            src="assets/img/landing/intro/hero/screens03.png"
            class="rellax d-block flex-shrink-0"
            width="486"
            height="1480"
            alt="Screens"
          />
        </div>
      </div>
    </div>
  </section>
  <app-features />

  <app-landing-pages />
  <app-more-feature />
</main>
<app-footer1 />
