<section class="bg-secondary py-5 mb-lg-5">
  <div class="container pt-2 pt-lg-4 pt-xl-5">
    <h2 class="h1 mb-4 pb-lg-3 pt-lg-1 pb-1 text-center">Popular Posts</h2>
  </div>
  <div class="pb-lg-5 mb-xl-3">
    <div class="swiper">
      <swiper-container
        [config]="swiperConfig"
        init="false"
        class="swiper-wrapper"
      >
        @for (data of postList; track $index) {
          <swiper-slide class="swiper-slide h-auto px-2">
            <article class="card border-0 h-100 mx-1">
              <div class="position-relative">
                <a
                  routerLink="/blog/single-post"
                  class="position-absolute top-0 start-0 w-100 h-100"
                  aria-label="Read more"
                ></a>
                <a
                  href="javascript:void(0)"
                  class="btn btn-icon btn-light bg-white border-white btn-sm rounded-circle position-absolute top-0 end-0 zindex-5 me-3 mt-3"
                  data-bs-toggle="tooltip"
                  placement="left"
                  ngbTooltip="Read later"
                  aria-label="Read later"
                >
                  <i class="bx bx-bookmark"></i>
                </a>
                <img [src]="data.cover" class="card-img-top" alt="Image" />
              </div>
              <div class="card-body pb-4">
                <div
                  class="d-flex align-items-center justify-content-between mb-3"
                >
                  <a
                    href="javascript:void(0)"
                    class="badge fs-sm text-nav bg-secondary text-decoration-none"
                    >{{ data.category }}</a
                  >
                  <span class="fs-sm text-muted">{{ data.time }}</span>
                </div>
                <h3 class="h5 mb-0">
                  <a
                    routerLink="/blog/single-post"
                    [innerHTML]="data.title"
                  ></a>
                </h3>
              </div>
              <div class="card-footer py-4">
                <a
                  href="javascript:void(0)"
                  class="d-flex align-items-center fw-bold text-dark text-decoration-none"
                >
                  <img
                    [src]="data.author?.image"
                    class="rounded-circle me-3"
                    width="48"
                    alt="Avatar"
                  />
                  {{ data.author?.name }}
                </a>
              </div>
            </article>
          </swiper-slide>
        }
      </swiper-container>

      <div
        id="popular-pagination"
        class="swiper-pagination position-relative pt-1 pt-sm-3 mt-5 d-xl-none d-flex"
      ></div>
    </div>
  </div>
</section>
