<section class="container mb-5 pb-lg-5 pb-md-4 pb-3">
  <h2 class="h1 mb-lg-4 mb-3 text-center">
    Simple Integration with Popular Tools
  </h2>
  <p
    class="mb-lg-5 mb-4 pb-lg-0 pb-md-2 mx-auto text-center"
    style="max-width: 40.75rem"
  >
    In blandit luctus proin mauris a commodo, dolor diam tempus, aenean magna
    fusce eu. Id porttitor aliquam eget aliquet sagittis eu aut diam ut
    phasellus sed convallis iaculis neque ultricies convallis sed enim.
  </p>

  <div class="swiper mt-n2 mb-xl-2 mx-n2">
    <swiper-container
      [config]="swiperConfig"
      init="false"
      class="swiper-wrapper"
    >
      <swiper-slide class="swiper-slide h-auto py-2">
        <a
          href="javascript:void(0)"
          class="card card-body card-hover h-100 py-sm-4 py-3 px-3 mx-2 border-0 shadow-sm rounded-pill"
        >
          <img
            src="assets/img/landing/saas-4/integrations/01-light.png"
            class="d-dark-mode-none d-block my-sm-0 my-1 mx-auto"
            width="153"
            alt="Brand"
          />
          <img
            src="assets/img/landing/saas-4/integrations/01-dark.png"
            class="d-dark-mode-block d-none my-sm-0 my-1 mx-auto"
            width="153"
            alt="Brand"
          />
        </a>
      </swiper-slide>

      <swiper-slide class="swiper-slide h-auto py-2">
        <a
          href="javascript:void(0)"
          class="card card-body card-hover h-100 py-sm-4 py-3 px-3 mx-2 border-0 shadow-sm rounded-pill"
        >
          <img
            src="assets/img/landing/saas-4/integrations/02-light.png"
            class="d-dark-mode-none d-block my-sm-0 my-1 mx-auto mb-n2"
            width="121"
            alt="Brand"
          />
          <img
            src="assets/img/landing/saas-4/integrations/02-dark.png"
            class="d-dark-mode-block d-none my-sm-0 my-1 mx-auto mb-n2"
            width="121"
            alt="Brand"
          />
        </a>
      </swiper-slide>

      <swiper-slide class="swiper-slide h-auto py-2">
        <a
          href="javascript:void(0)"
          class="card card-body card-hover h-100 py-sm-4 py-3 px-3 mx-2 border-0 shadow-sm rounded-pill"
        >
          <img
            src="assets/img/landing/saas-4/integrations/03-light.png"
            class="d-dark-mode-none d-block my-sm-0 my-1 mx-auto"
            width="128"
            alt="Brand"
          />
          <img
            src="assets/img/landing/saas-4/integrations/03-dark.png"
            class="d-dark-mode-block d-none my-sm-0 my-1 mx-auto"
            width="128"
            alt="Brand"
          />
        </a>
      </swiper-slide>

      <swiper-slide class="swiper-slide h-auto py-2">
        <a
          href="javascript:void(0)"
          class="card card-body card-hover h-100 py-sm-4 py-3 px-3 mx-2 border-0 shadow-sm rounded-pill"
        >
          <img
            src="assets/img/landing/saas-4/integrations/04-light.png"
            class="d-dark-mode-none d-block my-sm-0 my-1 mx-auto"
            width="138"
            alt="Brand"
          />
          <img
            src="assets/img/landing/saas-4/integrations/04-dark.png"
            class="d-dark-mode-block d-none my-sm-0 my-1 mx-auto"
            width="138"
            alt="Brand"
          />
        </a>
      </swiper-slide>

      <swiper-slide class="swiper-slide h-auto py-2">
        <a
          href="javascript:void(0)"
          class="card card-body card-hover h-100 py-sm-4 py-3 px-3 mx-2 border-0 shadow-sm rounded-pill"
        >
          <img
            src="assets/img/landing/saas-4/integrations/05-light.png"
            class="d-dark-mode-none d-block my-sm-0 my-1 mx-auto"
            width="164"
            alt="Brand"
          />
          <img
            src="assets/img/landing/saas-4/integrations/05-dark.png"
            class="d-dark-mode-block d-none my-sm-0 my-1 mx-auto"
            width="164"
            alt="Brand"
          />
        </a>
      </swiper-slide>
    </swiper-container>

    <div
      id="toolsPagination"
      class="swiper-pagination position-static mt-4 pt-lg-3 pt-2"
    ></div>
  </div>
</section>
