<footer class="footer py-5">
  <div class="container text-center pt-2 pt-sm-3">
    <div class="navbar-brand d-inline-block text-dark p-0 me-0 mb-4 pb-md-2">
      <img src="assets/img/logo.svg" width="47" alt="Silicon" />
      Silicon
    </div>
    <ul class="nav align-items-center justify-content-center mb-4 pb-1 pb-md-3">
      @for (item of itemsData; track $index) {
        <li class="nav-item mx-lg-1 px-md-2">
          <a href="{{ item.link }}" class="nav-link">{{ item.label }}</a>
        </li>
      }
    </ul>
    <div class="d-inline-block mt-n3 ms-n3 pb-2 pb-md-3 mb-4 mb-lg-5">
      @for (item of socialIcon; track $index) {
        <a
          href="javascript:void(0)"
          class="btn btn-icon btn-secondary btn-{{ item.icon }} mt-3 ms-3"
          aria-label="Facebook"
        >
          <i class="bx bxl-{{ item.icon }}"></i>
        </a>
      }
    </div>
    <p class="mb-0 mx-auto fs-sm text-muted" style="max-width: 53.5rem">
      &copy; All rights reserved. Made by<a
        class="nav-link d-inline-block p-0"
        href="{{ creditsBy.website }}"
        target="_blank"
        rel="noopener"
        >{{ creditsBy.name }}</a
      >. Pulvinar urna condimentum amet tempor, ornare integer. Lorem odio justo
      malesuada suspendisse viverra aliquet quisque turpis non. Feugiat in odio
      non nunc ornare consectetur.
    </p>
  </div>
</footer>
