<section class="container">
  <div
    class="card bg-white border-primary shadow-sm px-4 px-lg-0"
    data-bs-theme="light"
  >
    <div class="row align-items-center py-3">
      <div
        class="col-xl-5 col-md-6 offset-lg-1 text-center text-md-start py-4 py-lg-5"
      >
        <h2 class="h1">Our Response to COVID-19</h2>
        <h3 class="h4 text-primary">Get remote financial consulting help</h3>
        <p class="mb-4 mb-lg-5">
          At ultricies id non quisque integer eget velit. Facilisis enim
          malesuada metus, risus amet ultricies. Magna aliquam id nunc ut eu.
        </p>
        <a href="javascript:void(0)" class="btn btn-primary">Find out more</a>
      </div>
      <div class="col-xl-6 col-lg-5 col-md-6">
        <ng-lottie
          class="mx-auto"
          [options]="options"
          background="transparent"
          speed="1"
          loop
          autoplay
          [styles]="styles"
        ></ng-lottie>
      </div>
    </div>
  </div>
</section>
