<section class="container pb-5 mb-xl-4">
  <h2 class="text-center pb-md-2">Trusted by Leading Companies</h2>
  <div class="swiper mx-n2">
    <swiper-container
      class="swiper-wrapper"
      [config]="swiperConfig"
      init="false"
    >
      @for (item of serviceBrandData; track $index) {
        <swiper-slide class="swiper-slide py-3">
          <a
            href="javascript:void(0)"
            class="card card-body card-hover px-2 mx-2"
          >
            <img
              [src]="item.image"
              class="d-block mx-auto my-2"
              width="154"
              alt="Brand"
            />
          </a>
        </swiper-slide>
      }
    </swiper-container>

    <div class="swiper-pagination position-relative pt-2 mt-4"></div>
  </div>
</section>
