<section class="container mb-5 pb-2 pb-md-4 pb-lg-5">
  <div class="card border-0 bg-secondary p-md-5 px-sm-2 pt-4 pb-3">
    <div class="card-body mx-auto" style="max-width: 860px">
      <h2 class="h1 mb-4 text-center">Our Competencies</h2>
      <p class="mb-4 pb-3 fs-lg text-center text-muted">
        We fully understand your business. If you need to update something, we
        are more than happy to help you with the services we are providing.
      </p>

      <div
        ngbAccordion
        [closeOthers]="true"
        class="accordion"
        id="accordion-services"
      >
        @for (data of servicesList; track $index) {
          <div
            ngbAccordionItem
            [collapsed]="$index == 0 ? false : true"
            class="accordion-item border-0 rounded-3 shadow-sm mb-3"
          >
            <h3 ngbAccordionHeader class="accordion-header" id="heading-1">
              <button
                ngbAccordionButton
                class="accordion-button fs-xl shadow-none rounded-3"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapse-1"
                aria-expanded="true"
                aria-controls="collapse-1"
              >
                {{ data.title }}
              </button>
            </h3>
            <div
              ngbAccordionCollapse
              class="accordion-collapse collapse show"
              id="collapse-1"
              aria-labelledby="heading-1"
              data-bs-parent="#accordion-services"
            >
              <div ngbAccordionBody class="accordion-body pt-0">
                <div
                  class="d-flex flex-md-row flex-column align-items-md-center"
                >
                  <img
                    [src]="data.image"
                    width="200"
                    alt="Digital Marketing"
                    class="me-md-4 mb-md-0 mb-3"
                  />
                  <div class="ps-md-3">
                    <p class="mb-0">{{ data.description }}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        }
      </div>
    </div>
  </div>
</section>
