<section class="container position-relative zindex-3">
  <div class="d-none d-lg-block" style="margin-top: -428px"></div>
  <div class="d-lg-none" style="margin-top: -370px"></div>
  <div class="swiper">
    <swiper-container
      [config]="swiperConfig"
      init="false"
      class="swiper-wrapper"
    >
      @for (data of categoryList; track $index) {
        <swiper-slide class="swiper-slide">
          <a
            href="javascript:void(0)"
            class="card-portfolio position-relative d-block rounded-3 overflow-hidden"
          >
            <span
              class="position-absolute top-0 start-0 w-100 h-100 zindex-1"
              style="
                background: linear-gradient(
                  180deg,
                  rgba(17, 24, 39, 0) 35.56%,
                  #111827 95.3%
                );
              "
            ></span>
            <div class="position-absolute bottom-0 w-100 zindex-2 p-4">
              <div class="px-md-3">
                <h3 class="h4 text-white mb-0">{{ data.head }}</h3>
                <div
                  class="card-portfolio-meta d-flex align-items-center justify-content-between"
                >
                  <span
                    class="text-white fs-xs text-truncate opacity-70 pe-3"
                    >{{ data.description }}</span
                  >
                  <i
                    class="bx bx-right-arrow-circle fs-3 text-gradient-primary"
                  ></i>
                </div>
              </div>
            </div>
            <div class="card-img">
              <img [src]="data.image" alt="Ecommerce" />
            </div>
          </a>
        </swiper-slide>
      }
    </swiper-container>

    <div
      id="swiper-pagination"
      class="swiper-pagination position-relative bottom-0 pt-2 pt-md-3 mt-4"
    ></div>
  </div>
</section>
