<section class="position-relative container zindex-2 py-5 mt-lg-3 mb-md-2">
  <h2 class="h4 text-center mb-2 mb-sm-3">Fully integrated with</h2>
  <div class="swiper">
    <swiper-container
      [config]="SwiperConfig"
      init="false"
      class="swiper-wrapper"
    >
      <swiper-slide class="swiper-slide">
        <a href="javascript:void(0)" class="swap-image">
          <img
            src="assets/img/landing/app-showcase-3/integrations/envato-gray.svg"
            class="swap-from"
            width="196"
            alt="Envato"
          />
          <div class="swap-to">
            <img
              src="assets/img/landing/app-showcase-3/integrations/envato-color-light.svg"
              class="light-mode-img"
              width="196"
              alt="Envato"
            />
            <img
              src="assets/img/landing/app-showcase-3/integrations/envato-color-dark.svg"
              class="dark-mode-img"
              width="196"
              alt="Envato"
            />
          </div>
        </a>
      </swiper-slide>

      <swiper-slide class="swiper-slide">
        <a href="javascript:void(0)" class="swap-image">
          <img
            src="assets/img/landing/app-showcase-3/integrations/laravel-gray.svg"
            class="swap-from"
            width="196"
            alt="Laravel"
          />
          <img
            src="assets/img/landing/app-showcase-3/integrations/laravel-color.svg"
            class="swap-to"
            width="196"
            alt="Laravel"
          />
        </a>
      </swiper-slide>

      <swiper-slide class="swiper-slide">
        <a href="javascript:void(0)" class="swap-image">
          <img
            src="assets/img/landing/app-showcase-3/integrations/magento-gray.svg"
            class="swap-from"
            width="196"
            alt="Magento"
          />
          <div class="swap-to">
            <img
              src="assets/img/landing/app-showcase-3/integrations/magento-color-light.svg"
              class="light-mode-img"
              width="196"
              alt="Magento"
            />
            <img
              src="assets/img/landing/app-showcase-3/integrations/magento-color-dark.svg"
              class="dark-mode-img"
              width="196"
              alt="Magento"
            />
          </div>
        </a>
      </swiper-slide>

      <swiper-slide class="swiper-slide">
        <a href="javascript:void(0)" class="swap-image">
          <img
            src="assets/img/landing/app-showcase-3/integrations/pingdom-gray.svg"
            class="swap-from"
            width="196"
            alt="Pingdom"
          />
          <div class="swap-to">
            <img
              src="assets/img/landing/app-showcase-3/integrations/pingdom-color-light.svg"
              class="light-mode-img"
              width="196"
              alt="Pingdom"
            />
            <img
              src="assets/img/landing/app-showcase-3/integrations/pingdom-color-dark.svg"
              class="dark-mode-img"
              width="196"
              alt="Pingdom"
            />
          </div>
        </a>
      </swiper-slide>

      <swiper-slide class="swiper-slide">
        <a href="javascript:void(0)" class="swap-image">
          <img
            src="assets/img/landing/app-showcase-3/integrations/angular-gray.svg"
            class="swap-from"
            width="196"
            alt="Angular"
          />
          <div class="swap-to">
            <img
              src="assets/img/landing/app-showcase-3/integrations/angular-color-light.svg"
              class="light-mode-img"
              width="196"
              alt="Angular"
            />
            <img
              src="assets/img/landing/app-showcase-3/integrations/angular-color-dark.svg"
              class="dark-mode-img"
              width="196"
              alt="Angular"
            />
          </div>
        </a>
      </swiper-slide>

      <swiper-slide class="swiper-slide">
        <a href="javascript:void(0)" class="swap-image">
          <img
            src="assets/img/landing/app-showcase-3/integrations/woocommerce-gray.svg"
            class="swap-from"
            width="196"
            alt="WooCommerce"
          />
          <div class="swap-to">
            <img
              src="assets/img/landing/app-showcase-3/integrations/woocommerce-color-light.svg"
              class="light-mode-img"
              width="196"
              alt="WooCommerce"
            />
            <img
              src="assets/img/landing/app-showcase-3/integrations/woocommerce-color-dark.svg"
              class="dark-mode-img"
              width="196"
              alt="WooCommerce"
            />
          </div>
        </a>
      </swiper-slide>
    </swiper-container>

    <div
      id="pagination4"
      class="swiper-pagination position-relative pt-2 mt-4"
    ></div>
  </div>
</section>
