<section class="container pb-5 mb-3 mb-md-4 mb-lg-5">
  <h2 class="h1 text-center">Diagnosis of dental diseases</h2>
  <p class="text-center pb-1 pb-sm-0 mb-4 mb-sm-5">
    Nisi augue at ridiculus ullamcorper ibendum nunc dignissim
  </p>
  <div class="row align-items-lg-center">
    <div class="col-sm-6 col-lg-3">
      <div class="pe-lg-4 pe-xl-5">
        <div class="text-center text-lg-end pb-2 mb-4 mb-xl-5">
          <img
            src="assets/img/services/single/icons/01.svg"
            class="d-inline-block"
            width="56"
            alt="Icon"
          />
          <h3 class="h5 pt-1 my-2">Dental cleaning</h3>
          <p class="fs-sm mb-0">
            Mi ac neque gravida sit tellus elit tellus nunc ultricies semper
            velit sagittis
          </p>
        </div>
        <div class="text-center text-lg-end pb-2 mb-4 mb-xl-5">
          <img
            src="assets/img/services/single/icons/02.svg"
            class="d-inline-block"
            width="56"
            alt="Icon"
          />
          <h3 class="h5 pt-1 my-2">Surgery and implant</h3>
          <p class="fs-sm mb-0">
            Diam sed sit praesent in porttitor mi posuere sem in sit arcu massa
          </p>
        </div>
        <div class="text-center text-lg-end">
          <img
            src="assets/img/services/single/icons/03.svg"
            class="d-inline-block"
            width="56"
            alt="Icon"
          />
          <h3 class="h5 pt-1 my-2">Thooth removal</h3>
          <p class="fs-sm mb-0">
            Mi habitasse in mollis orci elementum duis ultricies vehicula nullam
            tristique
          </p>
        </div>
      </div>
    </div>
    <div class="col-lg-6 d-none d-lg-block">
      <div
        class="ratio ratio-1x1 border rounded-circle position-relative mx-auto"
        style="max-width: 580px"
      >
        <div class="p-5">
          <img
            src="assets/img/services/single/tooth.jpg"
            class="rounded-circle"
            alt="Tooth"
          />
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-lg-3">
      <div class="ps-lg-4 ps-xl-5">
        <div class="text-center text-lg-start pb-2 mb-4 mb-xl-5">
          <img
            src="assets/img/services/single/icons/04.svg"
            class="d-inline-block"
            width="56"
            alt="Icon"
          />
          <h3 class="h5 pt-1 my-2">Thooth implant</h3>
          <p class="fs-sm mb-0">
            Bibendum massa nam enim erat suspendisse sagittis risus urna
          </p>
        </div>
        <div class="text-center text-lg-start pb-2 mb-4 mb-xl-5">
          <img
            src="assets/img/services/single/icons/05.svg"
            class="d-inline-block"
            width="56"
            alt="Icon"
          />
          <h3 class="h5 pt-1 my-2">Full teeth cleaning</h3>
          <p class="fs-sm mb-0">
            Nisiner elit leo aliquam vulputate venenatis pellentesque pulvinar
          </p>
        </div>
        <div class="text-center text-lg-start">
          <img
            src="assets/img/services/single/icons/06.svg"
            class="d-inline-block"
            width="56"
            alt="Icon"
          />
          <h3 class="h5 pt-1 my-2">Aesthetic dentistry</h3>
          <p class="fs-sm mb-0">
            Pellentesque rhoncus viverra vestibulum, purus purus
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
