<section class="container pb-5 mb-2 mb-md-4 mb-lg-5">
  <h2 class="h1 text-center pt-1 pt-xl-2 mb-4">Why Choose Us?</h2>
  <p class="fs-lg text-muted text-center pb-4 mb-2 mb-lg-3">
    We personalize how we work to fit your project needs. Our approach helps
    augment innovation.
  </p>
  <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-4 g-4 pb-xl-3">
    @for (item of serviceFeature; track $index; let last = $last) {
      <div class="col text-center" [ngClass]="last ? '' : 'border-end'">
        <div
          class="card d-table border-0 rounded-circle shadow-sm p-3 mx-auto mb-4"
        >
          <img [src]="item.image" width="32" alt="Icon" />
        </div>
        <h3 class="h5 mb-2 mb-lg-0">{{ item.title }}</h3>
      </div>
    }
  </div>
</section>
