<div
  class="d-flex align-items-center justify-content-between mb-4 pb-1 pb-md-3"
>
  <h1 class="mb-0">Blog Grid with Sidebar</h1>
  <div class="nav flex-nowrap ms-sm-4 ms-3">
    <a
      routerLink="/blog/list-sidebar"
      class="nav-link me-2 p-0"
      aria-label="List view"
    >
      <i class="bx bx-list-ul fs-4"></i>
    </a>
    <a
      routerLink="/blog/grid-sidebar"
      class="nav-link p-0 active"
      aria-label="Grid view"
    >
      <i class="bx bx-grid-alt fs-4"></i>
    </a>
  </div>
</div>
