<section class="container mb-5 py-lg-3 py-xl-4 py-xxl-5">
  <div
    class="d-md-flex align-items-center justify-content-between text-md-start text-center pt-1 pt-sm-3 pt-md-4 mb-5"
  >
    <h2 class="h1 mb-md-0">Our talented team</h2>
    <a href="javascript:void(0)" class="btn btn-primary">
      Join our team
      <i class="bx bx-right-arrow-alt lead ms-1"></i>
    </a>
  </div>

  <div
    class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 pb-lg-2 pb-xl-3"
  >
    <div class="col">
      <div class="card card-hover border-0 bg-transparent">
        <div class="position-relative">
          <img
            src="assets/img/team/24.jpg"
            class="rounded-3"
            alt="Ralph Edwards"
          />
          <div
            class="card-img-overlay d-flex flex-column align-items-center justify-content-center rounded-3"
          >
            <span
              class="position-absolute top-0 start-0 w-100 h-100 bg-primary opacity-35 rounded-3"
            ></span>
            <div class="position-relative d-flex zindex-2">
              <a
                href="javascript:void(0)"
                class="btn btn-icon btn-secondary btn-facebook btn-sm bg-white me-2"
                aria-label="Facebook"
              >
                <i class="bx bxl-facebook"></i>
              </a>
              <a
                href="javascript:void(0)"
                class="btn btn-icon btn-secondary btn-linkedin btn-sm bg-white me-2"
                aria-label="LinkedIn"
              >
                <i class="bx bxl-linkedin"></i>
              </a>
              <a
                href="javascript:void(0)"
                class="btn btn-icon btn-secondary btn-twitter btn-sm bg-white"
                aria-label="Twitter"
              >
                <i class="bx bxl-twitter"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="card-body text-center p-3">
          <h3 class="fs-lg fw-semibold pt-1 mb-2">Ralph Edwards</h3>
          <p class="fs-sm mb-0">Founder &amp; CEO</p>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card card-hover border-0 bg-transparent">
        <div class="position-relative">
          <img
            src="assets/img/team/25.jpg"
            class="rounded-3"
            alt="Albert Flores"
          />
          <div
            class="card-img-overlay d-flex flex-column align-items-center justify-content-center rounded-3"
          >
            <span
              class="position-absolute top-0 start-0 w-100 h-100 bg-primary opacity-35 rounded-3"
            ></span>
            <div class="position-relative d-flex zindex-2">
              <a
                href="javascript:void(0)"
                class="btn btn-icon btn-secondary btn-facebook btn-sm bg-white me-2"
                aria-label="Facebook"
              >
                <i class="bx bxl-facebook"></i>
              </a>
              <a
                href="javascript:void(0)"
                class="btn btn-icon btn-secondary btn-linkedin btn-sm bg-white me-2"
                aria-label="LinkedIn"
              >
                <i class="bx bxl-linkedin"></i>
              </a>
              <a
                href="javascript:void(0)"
                class="btn btn-icon btn-secondary btn-twitter btn-sm bg-white"
                aria-label="Twitter"
              >
                <i class="bx bxl-twitter"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="card-body text-center p-3">
          <h3 class="fs-lg fw-semibold pt-1 mb-2">Albert Flores</h3>
          <p class="fs-sm mb-0">Principal Consultant</p>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card card-hover border-0 bg-transparent">
        <div class="position-relative">
          <img
            src="assets/img/team/26.jpg"
            class="rounded-3"
            alt="Jenny Wilson"
          />
          <div
            class="card-img-overlay d-flex flex-column align-items-center justify-content-center rounded-3"
          >
            <span
              class="position-absolute top-0 start-0 w-100 h-100 bg-primary opacity-35 rounded-3"
            ></span>
            <div class="position-relative d-flex zindex-2">
              <a
                href="javascript:void(0)"
                class="btn btn-icon btn-secondary btn-facebook btn-sm bg-white me-2"
                aria-label="Facebook"
              >
                <i class="bx bxl-facebook"></i>
              </a>
              <a
                href="javascript:void(0)"
                class="btn btn-icon btn-secondary btn-linkedin btn-sm bg-white me-2"
                aria-label="LinkedIn"
              >
                <i class="bx bxl-linkedin"></i>
              </a>
              <a
                href="javascript:void(0)"
                class="btn btn-icon btn-secondary btn-twitter btn-sm bg-white"
                aria-label="Twitter"
              >
                <i class="bx bxl-twitter"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="card-body text-center p-3">
          <h3 class="fs-lg fw-semibold pt-1 mb-2">Jenny Wilson</h3>
          <p class="fs-sm mb-0">UX Designer</p>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card card-hover border-0 bg-transparent">
        <div class="position-relative">
          <img
            src="assets/img/team/27.jpg"
            class="rounded-3"
            alt="Marvin McKinney"
          />
          <div
            class="card-img-overlay d-flex flex-column align-items-center justify-content-center rounded-3"
          >
            <span
              class="position-absolute top-0 start-0 w-100 h-100 bg-primary opacity-35 rounded-3"
            ></span>
            <div class="position-relative d-flex zindex-2">
              <a
                href="javascript:void(0)"
                class="btn btn-icon btn-secondary btn-facebook btn-sm bg-white me-2"
                aria-label="Facebook"
              >
                <i class="bx bxl-facebook"></i>
              </a>
              <a
                href="javascript:void(0)"
                class="btn btn-icon btn-secondary btn-linkedin btn-sm bg-white me-2"
                aria-label="LinkedIn"
              >
                <i class="bx bxl-linkedin"></i>
              </a>
              <a
                href="javascript:void(0)"
                class="btn btn-icon btn-secondary btn-twitter btn-sm bg-white"
                aria-label="Twitter"
              >
                <i class="bx bxl-twitter"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="card-body text-center p-3">
          <h3 class="fs-lg fw-semibold pt-1 mb-2">Marvin McKinney</h3>
          <p class="fs-sm mb-0">Product Manager</p>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card card-hover border-0 bg-transparent">
        <div class="position-relative">
          <img
            src="assets/img/team/28.jpg"
            class="rounded-3"
            alt="Esther Howard"
          />
          <div
            class="card-img-overlay d-flex flex-column align-items-center justify-content-center rounded-3"
          >
            <span
              class="position-absolute top-0 start-0 w-100 h-100 bg-primary opacity-35 rounded-3"
            ></span>
            <div class="position-relative d-flex zindex-2">
              <a
                href="javascript:void(0)"
                class="btn btn-icon btn-secondary btn-facebook btn-sm bg-white me-2"
                aria-label="Facebook"
              >
                <i class="bx bxl-facebook"></i>
              </a>
              <a
                href="javascript:void(0)"
                class="btn btn-icon btn-secondary btn-linkedin btn-sm bg-white me-2"
                aria-label="LinkedIn"
              >
                <i class="bx bxl-linkedin"></i>
              </a>
              <a
                href="javascript:void(0)"
                class="btn btn-icon btn-secondary btn-twitter btn-sm bg-white"
                aria-label="Twitter"
              >
                <i class="bx bxl-twitter"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="card-body text-center p-3">
          <h3 class="fs-lg fw-semibold pt-1 mb-2">Esther Howard</h3>
          <p class="fs-sm mb-0">VP of Strategy</p>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card card-hover border-0 bg-transparent">
        <div class="position-relative">
          <img
            src="assets/img/team/29.jpg"
            class="rounded-3"
            alt="Cameron Williamson"
          />
          <div
            class="card-img-overlay d-flex flex-column align-items-center justify-content-center rounded-3"
          >
            <span
              class="position-absolute top-0 start-0 w-100 h-100 bg-primary opacity-35 rounded-3"
            ></span>
            <div class="position-relative d-flex zindex-2">
              <a
                href="javascript:void(0)"
                class="btn btn-icon btn-secondary btn-facebook btn-sm bg-white me-2"
                aria-label="Facebook"
              >
                <i class="bx bxl-facebook"></i>
              </a>
              <a
                href="javascript:void(0)"
                class="btn btn-icon btn-secondary btn-linkedin btn-sm bg-white me-2"
                aria-label="LinkedIn"
              >
                <i class="bx bxl-linkedin"></i>
              </a>
              <a
                href="javascript:void(0)"
                class="btn btn-icon btn-secondary btn-twitter btn-sm bg-white"
                aria-label="Twitter"
              >
                <i class="bx bxl-twitter"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="card-body text-center p-3">
          <h3 class="fs-lg fw-semibold pt-1 mb-2">Cameron Williamson</h3>
          <p class="fs-sm mb-0">Co-Founder</p>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card card-hover border-0 bg-transparent">
        <div class="position-relative">
          <img
            src="assets/img/team/30.jpg"
            class="rounded-3"
            alt="Jerome Bell"
          />
          <div
            class="card-img-overlay d-flex flex-column align-items-center justify-content-center rounded-3"
          >
            <span
              class="position-absolute top-0 start-0 w-100 h-100 bg-primary opacity-35 rounded-3"
            ></span>
            <div class="position-relative d-flex zindex-2">
              <a
                href="javascript:void(0)"
                class="btn btn-icon btn-secondary btn-facebook btn-sm bg-white me-2"
                aria-label="Facebook"
              >
                <i class="bx bxl-facebook"></i>
              </a>
              <a
                href="javascript:void(0)"
                class="btn btn-icon btn-secondary btn-linkedin btn-sm bg-white me-2"
                aria-label="LinkedIn"
              >
                <i class="bx bxl-linkedin"></i>
              </a>
              <a
                href="javascript:void(0)"
                class="btn btn-icon btn-secondary btn-twitter btn-sm bg-white"
                aria-label="Twitter"
              >
                <i class="bx bxl-twitter"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="card-body text-center p-3">
          <h3 class="fs-lg fw-semibold pt-1 mb-2">Jerome Bell</h3>
          <p class="fs-sm mb-0">Strategic Advisor</p>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card card-hover border-0 bg-transparent">
        <div class="position-relative">
          <img
            src="assets/img/team/31.jpg"
            class="rounded-3"
            alt="Darrell Steward"
          />
          <div
            class="card-img-overlay d-flex flex-column align-items-center justify-content-center rounded-3"
          >
            <span
              class="position-absolute top-0 start-0 w-100 h-100 bg-primary opacity-35 rounded-3"
            ></span>
            <div class="position-relative d-flex zindex-2">
              <a
                href="javascript:void(0)"
                class="btn btn-icon btn-secondary btn-facebook btn-sm bg-white me-2"
                aria-label="Facebook"
              >
                <i class="bx bxl-facebook"></i>
              </a>
              <a
                href="javascript:void(0)"
                class="btn btn-icon btn-secondary btn-linkedin btn-sm bg-white me-2"
                aria-label="LinkedIn"
              >
                <i class="bx bxl-linkedin"></i>
              </a>
              <a
                href="javascript:void(0)"
                class="btn btn-icon btn-secondary btn-twitter btn-sm bg-white"
                aria-label="Twitter"
              >
                <i class="bx bxl-twitter"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="card-body text-center p-3">
          <h3 class="fs-lg fw-semibold pt-1 mb-2">Darrell Steward</h3>
          <p class="fs-sm mb-0">Senior Project Manager</p>
        </div>
      </div>
    </div>
  </div>
</section>
