<section class="position-relative py-5 bg-dark">
  <span
    class="position-absolute top-0 start-0 d-dark-mode-block d-none w-100 h-100 bg-secondary"
  ></span>
  <div
    class="position-relative container my-lg-5 my-md-4 my-3 py-xl-3"
    data-bs-theme="dark"
  >
    <h2 class="h1 mb-md-4 mb-3 text-center">Our Awards</h2>
    <p
      class="text-body mb-md-5 mb-4 pb-xl-3 pb-lg-2 pb-md-0 pb-sm-2 mx-auto text-center"
      style="max-width: 32.875rem"
    >
      In blandit luctus proin mauris a commodo, dolor diam tempus, aenean magna
      fusce eu. Id porttitor aliquam eget aliquet sagittis
    </p>

    <div class="swiper mt-n1">
      <swiper-container
        [config]="swiperConfig"
        init="false"
        class="swiper-wrapper"
      >
        @for (data of awardList; track $index) {
          <swiper-slide class="swiper-slide h-auto pt-1">
            <div
              class="card shadow-sm card-hover position-relative h-100 py-md-1 px-md-2"
            >
              <div class="card-body">
                <img [src]="data.image" width="170" alt="Clutch" class="" />
                <div class="mt-5 pt-lg-5 pt-md-4 pt-sm-3">
                  <h3
                    class="h5 mt-xl-4 mb-2 pt-lg-2 pb-1 d-flex align-items-center text-nowrap"
                  >
                    <a href="javascript:void(0)" class="stretched-link"
                      >Learn more</a
                    >
                    <i
                      class="bx bx-right-arrow-circle ms-2 fs-3 text-primary"
                    ></i>
                  </h3>
                  <p class="mb-0">{{ data.description }}</p>
                </div>
              </div>
            </div>
          </swiper-slide>
        }
      </swiper-container>

      <div
        id="awardPagination"
        class="swiper-pagination position-static mt-4 pt-lg-3 pt-2"
      ></div>
    </div>
  </div>
</section>
