<section class="container mb-lg-4 pb-5">
  @for (item of feedBlogCard; track $index) {
  <article class="mb-5 pt-5 border-top">
    <header class="d-flex align-items-center justify-content-between mb-4">
      <span class="badge bg-{{ item.color }} shadow-{{item.color}} fs-base fw-normal">{{
        item.category
        }}</span>
      <a href="javascript:void(0)" class="btn btn-outline-primary ms-4">
        See all
        <i class="bx bx-right-arrow-alt ms-1 fs-lg"></i>
      </a>
    </header>

    <ul class="list-unstyled mb-0">
      @for (data of item.blogs; track $index) {
      <li class="mb-4">
        <h3 class="h4 mb-2">
          <a routerLink="{{ data.link?.name }}">{{ data.title }}</a>
        </h3>
        <div class="d-flex align-items-center text-muted pt-1">
          <div class="fs-sm border-end pe-3 me-3">{{ data.date }}</div>
          <div class="d-flex align-items-center me-3">
            <i class="bx bx-like fs-lg me-1"></i>
            <span class="fs-sm">{{ data.like }}</span>
          </div>
          <div class="d-flex align-items-center me-3">
            <i class="bx bx-comment fs-lg me-1"></i>
            <span class="fs-sm">{{ data.comment }}</span>
          </div>
          <div class="d-flex align-items-center">
            <i class="bx bx-share-alt fs-lg me-1"></i>
            <span class="fs-sm">{{ data.share }}</span>
          </div>
        </div>
      </li>
      }
    </ul>
  </article>
  }
</section>