<section class="position-relative py-5">
  <span
    class="position-absolute top-0 start-0 w-100 h-100 d-dark-mode-none"
    style="background: linear-gradient(360deg, #fff 5.39%, #f3f6ff 78.66%)"
  ></span>
  <span
    class="position-absolute top-0 start-0 w-100 h-100 d-none d-dark-mode-block"
    style="
      background: linear-gradient(
        360deg,
        #0b0f19 5.39%,
        rgba(255, 255, 255, 0.04) 78.66%
      );
    "
  ></span>
  <div
    class="container position-relative zindex-2 py-2 py-sm-3 py-sm-4 py-md-5"
  >
    <div class="row align-items-center py-lg-2 py-xl-3 my-xl-1 my-xxl-3">
      <div class="col-md-5 col-xl-4">
        <h2 class="h1 pb-2 pb-sm-3 mb-md-0">
          Learn <span class="text-gradient-primary">how Silicon works</span> in
          a nutshell. Watch a short introductory video
        </h2>
      </div>
      <div class="col-md-7 offset-xl-1">
        <div class="position-relative">
          <lightgallery
            [settings]="settings"
            class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center justify-content-center zindex-5"
          >
            <a
              href="https://www.youtube.com/watch?v=ADpOLD2z1Ns"
              class="btn btn-video btn-icon btn-xl stretched-link bg-white"
              data-bs-toggle="video"
              aria-label="Play video"
            >
              <i class="bx bx-play"></i>
            </a>
          </lightgallery>
          <img
            src="assets/img/landing/saas-5/video-cover-light.jpg"
            class="d-dark-mode-none rounded-3"
            alt="Video cover"
          />
          <img
            src="assets/img/landing/saas-5/video-cover-dark.png"
            class="d-none d-dark-mode-block rounded-3"
            alt="Video cover"
          />
        </div>
      </div>
    </div>
  </div>
</section>
