<section class="container text-center pb-5 mt-n2 mt-md-0 mb-md-2 mb-lg-4">
  <div class="position-relative rounded-3 overflow-hidden">
    <lightgallery
      [settings]="settings"
      class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center justify-content-center zindex-5"
    >
      <a
        href="https://www.youtube.com/watch?v=zPo5ZaH6sW8"
        class="btn btn-video btn-icon btn-xl stretched-link bg-white"
        data-bs-toggle="video"
        aria-label="Play video"
      >
        <i class="bx bx-play"></i>
      </a>
    </lightgallery>
    <span
      class="position-absolute top-0 start-0 w-100 h-100 bg-black opacity-35"
    ></span>
    <img
      src="assets/img/landing/digital-agency/cover.jpg"
      class="d-block w-100"
      alt="Cover image"
    />
  </div>
</section>
