<section
  class="position-relative d-flex align-items-center justify-content-center justify-content-lg-end zindex-2 pb-5 pb-lg-0 mb-md-3 mb-lg-0"
>
  <div class="text-center text-lg-start pe-xl-5 me-lg-4">
    <div class="px-3" style="max-width: 530px">
      <h2 class="h1 mb-lg-4">
        Download <span class="text-primary">Silicon</span> app
      </h2>
      <p class="fs-lg pb-2 pb-lg-0 mb-4 mb-lg-5">
        Take control of your finances and download our mobile app today! Start
        tracking your expenses, budgeting wisely, and achieving your financial
        goals with ease. Don't wait, take the first step towards financial
        freedom now!
      </p>
      <div
        class="d-flex flex-column flex-sm-row justify-content-center justify-content-lg-start"
      >
        <a
          href="javascript:void(0)"
          class="btn btn-dark btn-lg px-3 py-2 me-sm-3 me-lg-4 mb-3"
        >
          <img
            src="assets/img/market/appstore-light.svg"
            class="light-mode-img"
            width="124"
            alt="App Store"
          />
          <img
            src="assets/img/market/appstore-dark.svg"
            class="dark-mode-img"
            width="124"
            alt="App Store"
          />
        </a>
        <a
          href="javascript:void(0)"
          class="btn btn-dark btn-lg px-3 py-2 mb-sm-3"
        >
          <img
            src="assets/img/market/googleplay-light.svg"
            class="light-mode-img"
            width="139"
            alt="Google Play"
          />
          <img
            src="assets/img/market/googleplay-dark.svg"
            class="dark-mode-img"
            width="139"
            alt="Google Play"
          />
        </a>
      </div>
    </div>
  </div>
  <div class="d-none d-lg-block">
    <img
      src="assets/img/landing/app-showcase-3/screens.png"
      width="900"
      alt="Mobile app screens"
    />
  </div>
</section>
