<section class="container py-5 mt-md-3 my-lg-5">
  <h2 class="h1 pt-xl-2 pb-4 mb-2 mb-lg-3">Our Services</h2>
  <div class="swiper">
    <swiper-container
      [config]="swiperConfig"
      init="false"
      class="swiper-wrapper"
    >
      <swiper-slide class="swiper-slide">
        <a href="javascript:void(0)"
          ><img
            src="assets/img/landing/financial/services/01.jpg"
            class="rounded-3"
            alt="Image"
        /></a>
        <div class="pt-4">
          <h3 class="h4">Consulting Services</h3>
          <ul class="list-unstyled">
            <li class="d-flex align-items-center fs-sm mb-2">
              <i class="bx bx-check fs-xl text-primary me-2"></i>
              Ut auctor egestas leo arcu
            </li>
            <li class="d-flex align-items-center fs-sm mb-2">
              <i class="bx bx-check fs-xl text-primary me-2"></i>
              Adipiscing velit enim nec id etiam
            </li>
            <li class="d-flex align-items-center fs-sm mb-2">
              <i class="bx bx-check fs-xl text-primary me-2"></i>
              Imperdiet quis suspendisse imperdiet
            </li>
          </ul>
        </div>
        <a href="javascript:void(0)" class="btn btn-link px-0">
          Learn more
          <i class="bx bx-right-arrow-alt fs-xl ms-2"></i>
        </a>
      </swiper-slide>

      <swiper-slide class="swiper-slide">
        <a href="javascript:void(0)"
          ><img
            src="assets/img/landing/financial/services/02.jpg"
            class="rounded-3"
            alt="Image"
        /></a>
        <div class="pt-4">
          <h3 class="h4">Banking Expertise</h3>
          <ul class="list-unstyled">
            <li class="d-flex align-items-center fs-sm mb-2">
              <i class="bx bx-check fs-xl text-primary me-2"></i>
              Quis euismod lacus, at consectetur porta
            </li>
            <li class="d-flex align-items-center fs-sm mb-2">
              <i class="bx bx-check fs-xl text-primary me-2"></i>
              Dictumst enim lectus dis eget non metus cras
            </li>
            <li class="d-flex align-items-center fs-sm mb-2">
              <i class="bx bx-check fs-xl text-primary me-2"></i>
              Risus volutpat tellus hendrerit nibh
            </li>
          </ul>
        </div>
        <a href="javascript:void(0)" class="btn btn-link px-0">
          Learn more
          <i class="bx bx-right-arrow-alt fs-xl ms-2"></i>
        </a>
      </swiper-slide>

      <swiper-slide class="swiper-slide">
        <a href="javascript:void(0)"
          ><img
            src="assets/img/landing/financial/services/03.jpg"
            class="rounded-3"
            alt="Image"
        /></a>
        <div class="pt-4">
          <h3 class="h4">Product Solutions</h3>
          <ul class="list-unstyled">
            <li class="d-flex align-items-center fs-sm mb-2">
              <i class="bx bx-check fs-xl text-primary me-2"></i>
              Sit scelerisque venenatis, at orci
            </li>
            <li class="d-flex align-items-center fs-sm mb-2">
              <i class="bx bx-check fs-xl text-primary me-2"></i>
              Felis nascetur tempus nibh dictum tristique mus
            </li>
            <li class="d-flex align-items-center fs-sm mb-2">
              <i class="bx bx-check fs-xl text-primary me-2"></i>
              Consectetur neque vestibulum, vel ut fermentum
            </li>
          </ul>
        </div>
        <a href="javascript:void(0)" class="btn btn-link px-0">
          Learn more
          <i class="bx bx-right-arrow-alt fs-xl ms-2"></i>
        </a>
      </swiper-slide>
    </swiper-container>

    <div
      id="servicepagination"
      class="swiper-pagination position-relative d-lg-none mt-5"
    ></div>
  </div>
</section>
