<component-topbar [headerClassName]="'bg-light'" />

<div class="position-relative">
  <div
    class="position-absolute top-0 start-0 w-100 h-100 d-dark-mode-none"
    style="
      background: linear-gradient(
        141deg,
        rgba(255, 255, 255, 0.01) 17.3%,
        #f3f6ff 78.21%
      );
    "
  ></div>
  <div
    class="position-absolute top-0 start-0 w-100 h-100 d-none d-dark-mode-block"
    style="
      background: linear-gradient(
        141deg,
        rgba(11, 15, 25, 0.01) 17.3%,
        rgba(255, 255, 255, 0.04) 78.21%
      );
    "
  ></div>

  <mobile-showcase-v3-hero />

  <mobile-showcase-v3-integration />

  <mobile-showcase-v3-features />

  <mobile-showcase-v3-work-slider />
</div>

<mobile-showcase-v3-video />

<mobile-showcase-v3-benefits />

<mobile-showcase-v3-testimonials />

<section class="position-relative">
  <div
    class="position-absolute top-0 start-0 w-100 h-100 bg-secondary d-none d-dark-mode-block"
  ></div>

  <mobile-showcase-v3-awards />

  <mobile-showcase-v3-cta />
</section>

<app-footer3 />
