<section class="position-relative zindex-2 py-lg-4 py-xl-5">
  <div class="container pb-2 pt-sm-2 py-md-3">
    <div
      class="row align-items-center justify-content-center py-5 my-sm-2 my-xxl-3"
    >
      <div class="col-10 col-sm-9 col-md-6 pb-4 pb-md-0 mb-2 mb-md-0">
        <div class="swiper-tabs zindex-2 mx-auto">
          <div
            id="screen-1"
            class="swiper-tab rounded-3 px-4 px-sm-5 px-md-0 active"
            style="
              background: linear-gradient(135deg, #96fbc4 0%, #dbf799 100%);
            "
          >
            <span
              class="position-absolute start-0 translate-middle-x zindex-1 rounded-circle"
              style="
                bottom: 26.6%;
                width: 25px;
                height: 25px;
                background: linear-gradient(90deg, #96fbc4 0%, #f9f586 100%);
              "
            ></span>
            <span
              class="position-absolute top-50 translate-middle-y zindex-1 rounded-circle"
              style="
                left: -18.5%;
                width: 14px;
                height: 14px;
                background: linear-gradient(90deg, #96fbc4 0%, #f9f586 100%);
              "
            ></span>
            <span
              class="position-absolute zindex-1 rounded-circle"
              style="
                top: 10%;
                right: -10%;
                width: 11px;
                height: 11px;
                background: linear-gradient(90deg, #96fbc4 0%, #f9f586 100%);
              "
            ></span>
            <img
              src="assets/img/landing/app-showcase-3/steps/01.png"
              class="d-block mx-auto"
              width="500"
              alt="App screen"
            />
          </div>
          <div
            id="screen-2"
            class="swiper-tab rounded-3 px-4 px-sm-5 px-md-0"
            style="
              background: linear-gradient(
                124deg,
                #f6d365 2.46%,
                #fda085 101.25%
              );
            "
          >
            <span
              class="position-absolute start-0 translate-middle-x zindex-1 rounded-circle"
              style="
                bottom: 38.8%;
                width: 25px;
                height: 25px;
                background: linear-gradient(
                  124deg,
                  #f6d365 2.46%,
                  #fda085 101.25%
                );
              "
            ></span>
            <span
              class="position-absolute zindex-1 rounded-circle"
              style="
                bottom: 22.5%;
                left: -14%;
                width: 14px;
                height: 14px;
                background: linear-gradient(
                  124deg,
                  #f6d365 2.46%,
                  #fda085 101.25%
                );
              "
            ></span>
            <span
              class="position-absolute zindex-1 rounded-circle"
              style="
                top: 14%;
                right: -9%;
                width: 11px;
                height: 11px;
                background: linear-gradient(
                  124deg,
                  #f6d365 2.46%,
                  #fda085 101.25%
                );
              "
            ></span>
            <img
              src="assets/img/landing/app-showcase-3/steps/02.png"
              class="d-block mx-auto"
              width="500"
              alt="App screen"
            />
          </div>
          <div
            id="screen-3"
            class="swiper-tab rounded-3 bg-gradient-primary px-4 px-sm-5 px-md-0"
          >
            <span
              class="position-absolute start-0 translate-middle-x zindex-1 rounded-circle bg-gradient-primary"
              style="bottom: 28%; width: 25px; height: 25px"
            ></span>
            <span
              class="position-absolute top-50 translate-middle-y zindex-1 rounded-circle bg-gradient-primary mt-4"
              style="left: -16%; width: 14px; height: 14px"
            ></span>
            <span
              class="position-absolute zindex-1 rounded-circle bg-gradient-primary"
              style="top: 8.5%; right: -8.5%; width: 11px; height: 11px"
            ></span>
            <img
              src="assets/img/landing/app-showcase-3/steps/03.png"
              class="d-block mx-auto"
              width="500"
              alt="App screen"
            />
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-5 offset-lg-1">
        <div class="ps-md-4 ps-lg-0">
          <div class="swiper text-center text-md-start mt-auto" #workSwiper>
            <div class="swiper-wrapper">
              <div class="swiper-slide" [attr.data-swiper-tab]="'#screen-1'">
                <div class="h5 text-primary pb-1 mb-2">Step 1</div>
                <h2 class="h1 pb-1">Create account</h2>
                <ul class="list-unstyled d-table mx-auto mx-md-0">
                  <li class="d-flex fs-lg text-start pb-1 mb-2">
                    <i
                      class="bx bx-check text-primary lead pe-1 me-1"
                      style="margin-top: 0.125rem"
                    ></i>
                    Enter your email and create a password
                  </li>
                  <li class="d-flex fs-lg text-start pb-1 mb-2">
                    <i
                      class="bx bx-check text-primary lead pe-1 me-1"
                      style="margin-top: 0.125rem"
                    ></i>
                    Check your inbox to find the confirmation email
                  </li>
                  <li class="d-flex fs-lg text-start pb-1 mb-2">
                    <i
                      class="bx bx-check text-primary lead pe-1 me-1"
                      style="margin-top: 0.125rem"
                    ></i>
                    Follow the steps described in the email
                  </li>
                </ul>
              </div>
              <div class="swiper-slide" [attr.data-swiper-tab]="'#screen-2'">
                <div class="h5 text-primary pb-1 mb-2">Step 2</div>
                <h2 class="h1 pb-1">Connect account</h2>
                <ul class="list-unstyled d-table mx-auto mx-md-0">
                  <li class="d-flex fs-lg text-start pb-1 mb-2">
                    <i
                      class="bx bx-check text-primary lead pe-1 me-1"
                      style="margin-top: 0.125rem"
                    ></i>
                    Authorize in the application
                  </li>
                  <li class="d-flex fs-lg text-start pb-1 mb-2">
                    <i
                      class="bx bx-check text-primary lead pe-1 me-1"
                      style="margin-top: 0.125rem"
                    ></i>
                    Fill application forms
                  </li>
                  <li class="d-flex fs-lg text-start pb-1 mb-2">
                    <i
                      class="bx bx-check text-primary lead pe-1 me-1"
                      style="margin-top: 0.125rem"
                    ></i>
                    Take a photo of your passport and TIN
                  </li>
                </ul>
              </div>
              <div class="swiper-slide" [attr.data-swiper-tab]="'#screen-3'">
                <div class="h5 text-primary pb-1 mb-2">Step 3</div>
                <h2 class="h1 pb-1">Get the card</h2>
                <ul class="list-unstyled d-table mx-auto mx-md-0">
                  <li class="d-flex fs-lg text-start pb-1 mb-2">
                    <i
                      class="bx bx-check text-primary lead pe-1 me-1"
                      style="margin-top: 0.125rem"
                    ></i>
                    Specify the desired method of obtaining a card
                  </li>
                  <li class="d-flex fs-lg text-start pb-1 mb-2">
                    <i
                      class="bx bx-check text-primary lead pe-1 me-1"
                      style="margin-top: 0.125rem"
                    ></i>
                    Receive the card within 1-2 business days
                  </li>
                  <li class="d-flex fs-lg text-start pb-1 mb-2">
                    <i
                      class="bx bx-check text-primary lead pe-1 me-1"
                      style="margin-top: 0.125rem"
                    ></i>
                    Start managing your finances
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <div
            class="d-flex justify-content-center justify-content-md-start pt-2 pt-lg-3"
          >
            <button
              type="button"
              id="prev-screen"
              class="btn btn-prev btn-icon btn-sm"
              aria-label="Previous"
            >
              <i class="bx bx-chevron-left"></i>
            </button>
            <div
              id="stepsPagination"
              class="swiper-pagination position-relative bottom-0 fs-sm lh-1 fw-medium mx-3"
              style="width: 1.5rem"
            ></div>
            <button
              type="button"
              id="next-screen"
              class="btn btn-next btn-icon btn-sm"
              aria-label="Next"
            >
              <i class="bx bx-chevron-right"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
