<section class="container my-5 py-lg-5 py-md-4 py-3">
  <div class="row gy-4 py-xl-3">
    <div class="col-md-6">
      <img
        src="assets/img/landing/software-agency-1/about-img.jpg"
        alt="Image"
        class="rounded-3"
      />
    </div>
    <div class="col-lg-5 col-md-6 offset-lg-1 d-flex">
      <div class="align-self-center ps-lg-0 ps-md-4">
        <h2 class="h1 mb-lg-4 mb-3">Award-Winning Software Company</h2>
        <p class="mb-4 pb-lg-3 fs-lg">
          Erat pharetra sed at fringilla etiam nullam platea fringilla. Gravida
          sodales sit mauris amet massa justo. Egestas ipsum amet tortor
          hendrerit amet phasellus adipiscing. Eget porta posuere pellentesque
          sed commodo gravida dignissim dignissim iaculis. Elementum nibh duis
          at in.
        </p>
        <div class="d-flex align-items-center ms-sm-n4 ms-n3 mb-4 pb-lg-3">
          <div class="ms-sm-4 ms-3">
            <img
              src="assets/img/landing/software-agency-3/awards/clutch-light.png"
              width="63"
              alt="Clutch"
              class="d-dark-mode-none d-block"
            />
            <img
              src="assets/img/landing/software-agency-3/awards/clutch-dark.png"
              width="63"
              alt="Clutch"
              class="d-dark-mode-block d-none"
            />
          </div>
          <div class="ms-sm-4 ms-3">
            <img
              src="assets/img/landing/software-agency-3/awards/forbes-light.png"
              width="72"
              alt="Clutch"
              class="d-dark-mode-none d-block"
            />
            <img
              src="assets/img/landing/software-agency-3/awards/forbes-dark.png"
              width="72"
              alt="Clutch"
              class="d-dark-mode-block d-none"
            />
          </div>
          <div class="ms-sm-4 ms-3">
            <img
              src="assets/img/landing/software-agency-3/awards/awwwards-light.png"
              width="37"
              alt="Clutch"
              class="d-dark-mode-none d-block"
            />
            <img
              src="assets/img/landing/software-agency-3/awards/awwwards-dark.png"
              width="37"
              alt="Clutch"
              class="d-dark-mode-block d-none"
            />
          </div>
        </div>
        <a href="javascript:void(0)" class="btn btn-lg btn-outline-primary"
          >More about us</a
        >
      </div>
    </div>
  </div>
</section>
