<section class="container pt-md-2 pb-5">
  <div class="row">
    <div class="col-md-5">
      <div class="card h-100 border-0 overflow-hidden px-md-4">
        <span
          class="bg-gradient-primary position-absolute top-0 start-0 w-100 h-100 opacity-10 d-none d-md-block"
        ></span>
        <div
          class="card-body d-flex flex-column align-items-center justify-content-center position-relative zindex-2 p-0 pb-2 p-lg-4"
        >
          <h2 class="h1 text-center text-md-start p-lg-4">
            What Our Students Say About Online Courses
          </h2>
        </div>
      </div>
    </div>
    <div class="col-md-7">
      <div class="card border-0 shadow-sm p-4 p-xxl-5">
        <div class="d-flex justify-content-between pb-4 mb-2">
          <span class="btn btn-icon btn-primary btn-lg shadow-primary pe-none">
            <i class="bx bxs-quote-left"></i>
          </span>
          <div class="d-flex">
            <button
              type="button"
              id="testimonials-prev"
              class="btn btn-prev btn-icon btn-sm me-2"
              aria-label="Previous"
            >
              <i class="bx bx-chevron-left"></i>
            </button>
            <button
              type="button"
              id="testimonials-next"
              class="btn btn-next btn-icon btn-sm ms-2"
              aria-label="Next"
            >
              <i class="bx bx-chevron-right"></i>
            </button>
          </div>
        </div>

        <div class="swiper mx-0 mb-md-n2 mb-xxl-n3">
          <swiper-container
            [config]="swiperConfig"
            init="false"
            class="swiper-wrapper"
          >
            @for (data of userList; track $index) {
              <swiper-slide class="swiper-slide h-auto">
                <figure
                  class="card h-100 position-relative border-0 bg-transparent"
                >
                  <blockquote class="card-body p-0 mb-0">
                    <p class="fs-lg mb-0">{{ data.comment }}</p>
                  </blockquote>
                  <figcaption
                    class="card-footer border-0 d-flex align-items-center w-100 pb-2"
                  >
                    <img
                      src="{{ data.user.image }}"
                      width="60"
                      class="rounded-circle"
                      alt="Ralph Edwards"
                    />
                    <div class="ps-3">
                      <h6 class="fw-semibold lh-base mb-0">
                        {{ data.user.name }}
                      </h6>
                      <span class="fs-sm text-muted"
                        >{{ data.user.role }}
                      </span>
                    </div>
                  </figcaption>
                </figure>
              </swiper-slide>
            }
          </swiper-container>

          <div
            id="swiper-pagination1"
            class="swiper-pagination position-relative mt-5"
          ></div>
        </div>
      </div>
    </div>
  </div>
</section>
