<section class="position-relative pt-5 py-lg-5 mt-3 mt-md-4">
  <div class="swiper-tabs position-md-absolute top-0 end-0 w-md-50 h-100">
    @for (data of sliderViewData; track $index) {
      <div
        [id]="data.id"
        class="swiper-tab position-md-absolute w-100 h-100 bg-position-center bg-repeat-0 bg-size-cover"
        [style.background-image]="'url(' + data.image + ')'"
      >
        <div class="ratio ratio-1x1"></div>
      </div>
    }
  </div>
  <div class="container pt-1 pt-lg-2">
    <div class="row">
      <div class="col-lg-5 col-md-6">
        <app-breadcrumb
          [title]="'Portfolio Slider View'"
          [className]="'d-none d-md-block pt-4 mt-lg-3'"
        />

        <div class="d-none d-lg-block" style="height: 160px"></div>
        <div class="d-none d-md-block d-lg-none" style="height: 80px"></div>
        <div class="swiper pt-4 pt-md-0" #sliderSwiper>
          <div class="swiper-wrapper">
            @for (data of sliderViewData; track $index) {
              <div class="swiper-slide" [attr.data-swiper-tab]="'#' + data.id">
                <h2 class="h1 mb-4">{{ data.title }}</h2>
                <p class="pb-3 mb-3">{{ data.description }}</p>
                <table class="mb-5">
                  <tbody>
                    <tr>
                      <th class="text-dark fw-bold pb-2" scope="row">Client</th>
                      <td class="ps-3 ps-sm-4 pb-2">{{ data.client }}</td>
                    </tr>
                    <tr>
                      <th class="text-dark fw-bold pb-2" scope="row">
                        Category
                      </th>
                      <td class="ps-3 ps-sm-4 pb-2">{{ data.category }}</td>
                    </tr>
                    <tr>
                      <th class="text-dark fw-bold pb-2" scope="row">Date</th>
                      <td class="ps-3 ps-sm-4 pb-2">{{ data.date }}</td>
                    </tr>
                  </tbody>
                </table>
                <a
                  routerLink="/portfolio/single-project"
                  class="btn btn-primary shadow-primary mt-n2"
                  >Read more</a
                >
              </div>
            }
          </div>
          <div class="d-none d-lg-block" style="height: 160px"></div>
          <div class="d-none d-md-block d-lg-none" style="height: 80px"></div>
          <div class="d-md-none" style="height: 40px"></div>

          <div class="d-flex align-items-center ps-2 pb-5">
            <button
              type="button"
              class="btn btn-prev btn-icon btn-sm position-static"
              aria-label="Previous"
            >
              <i class="bx bx-chevron-left"></i>
            </button>
            <div
              id="swiper-pagination"
              class="swiper-pagination position-static w-auto mx-3"
              style="min-width: 30px"
            ></div>
            <button
              type="button"
              class="btn btn-next btn-icon btn-sm position-static"
              aria-label="Next"
            >
              <i class="bx bx-chevron-right"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
