<section class="container mb-5 pt-md-2 pt-lg-4 pt-xl-5">
  <h2 class="h1 my-4 pt-2 text-center">The benefits of world-changing drone</h2>
  <div class="row pb-4">
    <div class="col-md-3 col-6 order-md-1 order-2">
      <div class="d-flex flex-column justify-content-between h-100 text-center">
        <div class="mt-md-5 mt-4">
          <img
            src="assets/img/landing/product/benefits/battery.svg"
            alt="Icon"
            class="d-inline-block mb-4"
          />
          <h3 class="h4 mb-0 lh-1">
            <span class="d-block mb-2 fs-base fw-normal">Flight time</span>
            60 min
          </h3>
        </div>

        <div class="mt-md-5 mt-4">
          <img
            src="assets/img/landing/product/benefits/drone.svg"
            alt="Icon"
            class="d-inline-block mb-4"
          />
          <h3 class="h4 mb-0 lh-1">
            <span class="d-block mb-2 fs-base fw-normal">Obstacle sensing</span>
            5-Direction
          </h3>
        </div>

        <div class="mt-md-5 mt-4">
          <img
            src="assets/img/landing/product/benefits/monitor.svg"
            alt="Icon"
            class="d-inline-block mb-4"
          />
          <h3 class="h4 mb-0 lh-1">
            <span class="d-block mb-2 fs-base fw-normal"
              >Ultra-clear video</span
            >
            4K
          </h3>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-12 order-md-2 order-1">
      <div class="d-flex flex-column justify-content-between h-100">
        <div class="mx-md-n5 mb-md-n5">
          <img
            src="assets/img/landing/product/benefits/image.png"
            alt="Image"
          />
        </div>

        <div class="row row-cols-2 mt-md-5 mt-4 text-center">
          <div class="col">
            <img
              src="assets/img/landing/product/benefits/thermometer.svg"
              alt="Icon"
              class="d-inline-block mb-4"
            />
            <h3 class="h4 mb-0 lh-1">
              <span class="d-block mb-2 fs-base fw-normal"
                >Working temperature</span
              >
              -10°C to 40°C
            </h3>
          </div>

          <div class="col">
            <img
              src="assets/img/landing/product/benefits/led-light.svg"
              alt="Icon"
              class="d-inline-block mb-4"
            />
            <h3 class="h4 mb-0 lh-1">
              <span class="d-block mb-2 fs-base fw-normal">For night time</span>
              LED searchlight
            </h3>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-6 order-md-3 order-3">
      <div class="d-flex flex-column justify-content-between h-100 text-center">
        <div class="mt-md-5 mt-4">
          <img
            src="assets/img/landing/product/benefits/zoom-in.svg"
            alt="Icon"
            class="d-inline-block mb-4"
          />
          <h3 class="h4 mb-0 lh-1">
            <span class="d-block mb-2 fs-base fw-normal">Optical camera</span>
            2x zoom
          </h3>
        </div>

        <div class="mt-md-5 mt-4">
          <img
            src="assets/img/landing/product/benefits/computer-microprocessor.svg"
            alt="Icon"
            class="d-inline-block mb-4"
          />
          <h3 class="h4 mb-0 lh-1">
            <span class="d-block mb-2 fs-base fw-normal">Sensor</span>
            1 inch
          </h3>
        </div>

        <div class="mt-md-5 mt-4">
          <img
            src="assets/img/landing/product/benefits/audio.svg"
            alt="Icon"
            class="d-inline-block mb-4"
          />
          <h3 class="h4 mb-0 lh-1">
            <span class="d-block mb-2 fs-base fw-normal">Noise reduction</span>
            4dB
          </h3>
        </div>
      </div>
    </div>
  </div>
</section>
