<section class="position-relative overflow-hidden zindex-2 pt-4 pt-md-5">
  <div class="container">
    <div class="row justify-content-center align-items-center">
      <div
        class="col-xl-6 col-lg-7 col-md-6 col-sm-8 col-10 offset-xl-1 order-md-2"
      >
        <div
          class="parallax mx-auto"
          appParallax
          [parallaxScale]="5"
          style="max-width: 556px"
        >
          <div class="parallax-layer" data-depth="0.1">
            <img
              src="assets/img/landing/app-showcase-3/hero/layer01.png"
              alt="Bubble"
            />
          </div>
          <div class="parallax-layer" data-depth="-0.2">
            <img
              src="assets/img/landing/app-showcase-3/hero/layer02.png"
              alt="Bubble"
            />
          </div>
          <div class="parallax-layer" data-depth="-0.3">
            <img
              src="assets/img/landing/app-showcase-3/hero/layer03.png"
              alt="Bubble"
            />
          </div>
          <div class="parallax-layer" data-depth="0.4">
            <img
              src="assets/img/landing/app-showcase-3/hero/layer04.png"
              alt="Bubble"
            />
          </div>
          <div class="parallax-layer" data-depth="-0.1">
            <img
              src="assets/img/landing/app-showcase-3/hero/layer05.png"
              alt="Screen"
            />
          </div>
          <div class="parallax-layer" data-depth="0.2">
            <img
              src="assets/img/landing/app-showcase-3/hero/layer06.png"
              alt="Screen"
            />
          </div>
        </div>
      </div>

      <div class="col-lg-5 col-md-6 text-center text-md-start order-md-1">
        <h1 class="display-5 mb-lg-4">Manage your money in one application</h1>
        <p class="fs-xl pb-3 pb-lg-0 mb-4 mb-lg-5">
          We offer you a new generation of the mobile banking. Save, spend, and
          manage your money on the go.
        </p>
        <div
          class="d-flex flex-column flex-sm-row justify-content-center justify-content-md-start"
        >
          <a
            href="javascript:void(0)"
            class="btn btn-dark btn-lg px-3 py-2 me-sm-3 me-lg-4 mb-3"
          >
            <img
              src="assets/img/market/appstore-light.svg"
              class="light-mode-img"
              width="124"
              alt="App Store"
            />
            <img
              src="assets/img/market/appstore-dark.svg"
              class="dark-mode-img"
              width="124"
              alt="App Store"
            />
          </a>
          <a
            href="javascript:void(0)"
            class="btn btn-dark btn-lg px-3 py-2 mb-sm-3"
          >
            <img
              src="assets/img/market/googleplay-light.svg"
              class="light-mode-img"
              width="139"
              alt="Google Play"
            />
            <img
              src="assets/img/market/googleplay-dark.svg"
              class="dark-mode-img"
              width="139"
              alt="Google Play"
            />
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
