<section
  class="jarallax bg-dark pt-2 pt-lg-3 pb-lg-5"
  ngJarallax
  [config]="jarallaxConfig"
  data-jarallax
  data-speed="0.35"
  data-bs-theme="dark"
>
  <span
    class="position-absolute top-0 start-0 w-100 h-100 bg-dark opacity-70"
  ></span>
  <div
    class="jarallax-img"
    style="background-image: url(assets/img/portfolio/courses/single.jpg)"
  ></div>
  <div class="container position-relative zindex-5 pb-5">
    <app-breadcrumb2
      [className]="'py-4'"
      [title]="'Courses'"
      [link]="'/portfolio/courses'"
      [pageTitle]="'Fullstack Web Developer Course from Scratch'"
    />

    <div class="d-flex pt-3 pb-4 py-sm-4 pt-lg-5">
      <span class="badge bg-success fs-sm me-2">Best Seller</span>
      <a
        href="javascript:void(0)"
        class="badge bg-white text-nav fs-sm text-decoration-none"
        >Web Development</a
      >
    </div>

    <h1>Fullstack Web Developer Course from Scratch</h1>
    <p class="fs-lg text-light opacity-70">
      Egestas feugiat lorem eu neque suspendisse ullamcorper scelerisque aliquam
      mauris.
    </p>

    <div class="d-sm-flex py-3 py-md-4 py-xl-5">
      <div class="d-flex border-sm-end pe-sm-3 me-sm-3 mb-2 mb-sm-0">
        <div class="text-nowrap me-1">
          <i class="bx bxs-star text-warning"></i>
          <i class="bx bxs-star text-warning ms-1"></i>
          <i class="bx bxs-star text-warning ms-1"></i>
          <i class="bx bxs-star text-warning ms-1"></i>
          <i class="bx bx-star text-muted opacity-75 ms-1"></i>
        </div>
        <span class="text-light opacity-70">(1.2K reviews)</span>
      </div>
      <div class="d-flex border-sm-end pe-sm-3 me-sm-3 mb-2 mb-sm-0">
        <i class="bx bx-like fs-xl text-light opacity-70 me-1"></i>
        <span class="text-light opacity-70">4.2K likes</span>
      </div>
      <div class="d-flex">
        <i class="bx bx-time fs-xl text-light opacity-70 me-1"></i>
        <span class="text-light opacity-70">220 hours</span>
      </div>
    </div>

    <div class="d-flex align-items-center mt-xl-5 pt-2 pt-md-4 pt-lg-5">
      <img
        src="assets/img/avatar/17.jpg"
        class="rounded-circle"
        width="60"
        alt="Albert Flores"
      />
      <div class="ps-3">
        <div class="text-light opacity-80 mb-1">Created by</div>
        <h6>Albert Flores</h6>
      </div>
    </div>
  </div>
</section>
