<section class="position-relative pt-5">
  <div
    class="position-absolute top-0 start-0 w-100 bg-position-bottom-center bg-size-cover bg-repeat-0"
    style="background-image: url(assets/img/about/hero-bg.svg)"
  >
    <div class="d-lg-none" style="height: 960px"></div>
    <div class="d-none d-lg-block" style="height: 768px"></div>
  </div>

  <div class="container position-relative zindex-5 pt-5">
    <div class="row">
      <div class="col-lg-6">
        <app-breadcrumb
          title="About v.1"
          [className]="'pt-md-2 pt-lg-3 pb-4 pb-md-5 mb-xl-4 '"
        />

        <h1 class="pb-2 pb-md-3">About Silicon</h1>
        <p class="fs-xl pb-4 mb-1 mb-md-2 mb-lg-3" style="max-width: 526px">
          We are a dedicated team of passionate product managers, full stack
          developers, UX/UI designers, QA engineers and marketing experts
          helping businesses of every size — from new startups to public
          companies — launch their projects using our software.
        </p>
        <img
          src="assets/img/about/clutch-dark.png"
          class="d-dark-mode-none"
          width="175"
          alt="Clutch"
        />
        <img
          src="assets/img/about/clutch-light.png"
          class="d-none d-dark-mode-block"
          width="175"
          alt="Clutch"
        />
        <div class="row row-cols-3 pt-4 pt-md-5 mt-2 mt-xl-4">
          <div class="col">
            <h3 class="h2 mb-2">2,480</h3>
            <p class="mb-0"><strong>Remote</strong> Sales Experts</p>
          </div>
          <div class="col">
            <h3 class="h2 mb-2">760</h3>
            <p class="mb-0"><strong>New Clients</strong> per Month</p>
          </div>
          <div class="col">
            <h3 class="h2 mb-2">1,200</h3>
            <p class="mb-0"><strong>Requests</strong> per Week</p>
          </div>
        </div>
      </div>

      <div class="col-lg-6 mt-xl-3 pt-5 pt-lg-4">
        <div class="row row-cols-2 gx-3 gx-lg-4">
          <div class="col pt-lg-5 mt-lg-1">
            <img
              src="assets/img/about/hero/01.jpg"
              class="d-block rounded-3 mb-3 mb-lg-4"
              alt="Image"
            />
            <img
              src="assets/img/about/hero/02.jpg"
              class="d-block rounded-3"
              alt="Image"
            />
          </div>
          <div class="col">
            <img
              src="assets/img/about/hero/03.jpg"
              class="d-block rounded-3 mb-3 mb-lg-4"
              alt="Image"
            />
            <img
              src="assets/img/about/hero/04.jpg"
              class="d-block rounded-3"
              alt="Image"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
