<section class="container py-5 mt-md-2 mt-lg-4">
  <div class="swiper pt-2 mx-n2">
    <swiper-container
      [config]="swiperConfig"
      init="false"
      class="swiper-wrapper"
    >
      @for (logo of featureLogoData; track $index) {
        <swiper-slide class="swiper-slide py-3">
          <a
            href="javascript:void(0)"
            class="card card-body card-hover px-2 mx-2"
          >
            <img
              [src]="logo.src"
              class="d-block mx-auto my-2"
              width="154"
              alt="Brand"
            />
          </a>
        </swiper-slide>
      }
    </swiper-container>

    <div
      id="pagination4"
      class="swiper-pagination position-relative pt-2 mt-4"
    ></div>
  </div>
</section>
