<section class="container py-5 my-md-2 my-lg-4 my-xl-5">
  <h2 class="h1 text-center pb-3 pb-md-4">Transparent Pricing for You</h2>
  <div class="price-switch-wrapper mb-n2">
    <div
      class="form-check form-switch price-switch justify-content-center mt-2 mb-4"
      data-bs-toggle="price"
    >
      <input
        type="checkbox"
        class="form-check-input"
        id="pricing"
        (change)="changePrice($event)"
      />
      <label class="form-check-label" for="pricing">Monthly</label>
      <label class="form-check-label d-flex align-items-start" for="pricing"
        >Annually
        <span class="text-danger fs-xs fw-semibold mt-n2 ms-2"
          >-10%</span
        ></label
      >
    </div>
    <div class="table-responsive-xxl pt-md-3">
      <div class="row flex-nowrap pb-4">
        @for (data of pricingList; track $index) {
          @if (data.status == 'active') {
            <div class="col">
              <div
                class="card h-100 border-0 bg-primary shadow-primary shadow-dark-mode-none p-xxl-3"
                style="min-width: 18rem"
              >
                <div class="card-body">
                  <div class="d-flex align-items-center pb-2 pb-md-3 mb-4">
                    <div
                      class="flex-shrink-0 rounded-3"
                      style="background-color: rgba(255, 255, 255, 0.1)"
                    >
                      <img [src]="data.icon" width="84" alt="Icon" />
                    </div>
                    <div class="ps-4">
                      <h3 class="fs-lg fw-normal text-light opacity-70 mb-2">
                        {{ data.planName }}
                      </h3>
                      <h4 class="h3 text-light lh-1 mb-0">
                        @if (planType) {
                          <span
                            >{{ selectedCurrency
                            }}{{ data.yearlyPrice.toFixed(2) }}</span
                          >
                        } @else {
                          <span
                            >{{ selectedCurrency
                            }}{{ data.monthlyPrice.toFixed(2) }}</span
                          >
                        }

                        <span class="fs-sm fw-normal opacity-70">
                          / per month</span
                        >
                      </h4>
                    </div>
                  </div>
                  <ul class="list-unstyled fs-sm pb-md-3 mb-3">
                    @for (feature of featuresList; track $index) {
                      <li
                        class="d-flex text-light mb-2"
                        [ngClass]="{
                          'opacity-50': !data.availableFeatures.includes(
                            feature.id
                          )
                        }"
                      >
                        <i
                          class="fs-xl me-1"
                          [ngClass]="
                            data.availableFeatures.includes(feature.id)
                              ? 'bx bx-check'
                              : 'bx bx-x'
                          "
                        ></i>
                        <span class="opacity-70"> {{ feature.info }}</span>
                      </li>
                    }
                  </ul>
                </div>
                <div class="card-footer border-0 pt-0 pb-4">
                  <a href="javascript:void(0)" class="btn btn-light w-100"
                    >Start free trial</a
                  >
                </div>
              </div>
            </div>
          } @else {
            <div class="col">
              <div
                class="card h-100 border-0 shadow-sm p-xxl-3"
                style="min-width: 18rem"
              >
                <div class="card-body">
                  <div class="d-flex align-items-center pb-2 pb-md-3 mb-4">
                    <div class="flex-shrink-0 bg-secondary rounded-3">
                      <img [src]="data.icon" width="84" alt="Icon" />
                    </div>
                    <div class="ps-4">
                      <h3 class="fs-lg fw-normal text-body mb-2">
                        {{ data.planName }}
                      </h3>
                      <h4 class="h3 lh-1 mb-0">
                        @if (planType) {
                          <span
                            >{{ selectedCurrency
                            }}{{ data.yearlyPrice.toFixed(2) }}</span
                          >
                        } @else {
                          <span
                            >{{ selectedCurrency
                            }}{{ data.monthlyPrice.toFixed(2) }}</span
                          >
                        }
                        <span class="text-body fs-sm fw-normal">
                          / per month</span
                        >
                      </h4>
                    </div>
                  </div>
                  <ul class="list-unstyled fs-sm pb-md-3 mb-3">
                    @for (feature of featuresList; track $index) {
                      <li class="d-flex mb-2">
                        <i
                          class="fs-xl me-1"
                          [ngClass]="
                            data.availableFeatures.includes(feature.id)
                              ? 'bx bx-check text-primary'
                              : 'bx bx-x'
                          "
                        ></i>
                        {{ feature.info }}
                      </li>
                    }
                  </ul>
                </div>
                <div class="card-footer border-0 pt-0 pb-4">
                  <a
                    href="javascript:void(0)"
                    class="btn btn-outline-primary w-100"
                    >Start free trial</a
                  >
                </div>
              </div>
            </div>
          }
        }
      </div>
    </div>
  </div>
</section>
