<section class="container pt-5 pb-2 pb-md-3 py-lg-5">
  <div class="row align-items-center my-3 py-md-3 py-lg-5">
    <div
      class="col-md-6 col-xl-5 offset-lg-1 offset-xl-2 order-md-2 mb-2 mb-md-0 pb-4 pb-md-0"
    >
      <div class="position-relative mx-auto mx-md-0" style="max-width: 469px">
        <img
          src="assets/img/landing/app-showcase-1/features/screen01.png"
          class="rellax d-block"
          alt="Screen"
          appRellax
          data-rellax-percentage="0.5"
          data-rellax-speed="-0.5"
          data-disable-parallax-down="md"
        />
        <div
          class="rellax position-absolute top-0 end-0 w-100 h-100"
          appRellax
          data-rellax-percentage="0.75"
          data-rellax-speed="0.75"
          data-disable-parallax-down="md"
        >
          <img
            src="assets/img/landing/app-showcase-1/features/screen02.png"
            alt="Screen"
          />
        </div>
      </div>
    </div>
    <div class="col-md-6 col-lg-5 col-xl-4 offset-xl-1 order-md-1 pb-md-4">
      <h2 class="pb-3">Make your money transfer simple and clear</h2>
      <ul class="list-unstyled pb-3 mb-3">
        <li class="d-flex align-items-center mb-2">
          <i class="bx bx-check-circle fs-xl text-primary me-2"></i>
          Banking transactions are free for you
        </li>
        <li class="d-flex align-items-center mb-2">
          <i class="bx bx-check-circle fs-xl text-primary me-2"></i>
          No monthly cash commission
        </li>
        <li class="d-flex align-items-center mb-2">
          <i class="bx bx-check-circle fs-xl text-primary me-2"></i>
          Manage payments and transactions online
        </li>
      </ul>
      <a href="javascript:void(0)" class="btn btn-primary">
        Learn more
        <i class="bx bx-right-arrow-alt fs-xl ms-2 me-n1"></i>
      </a>
    </div>
  </div>
  <div
    class="row align-items-center mt-2 mt-md-0 pt-5 pt-md-4 pt-lg-0 pb-md-3 pb-lg-5"
  >
    <div class="col-md-6 col-lg-5 offset-xl-1 mb-2 mb-md-0 pb-4 pb-md-0">
      <div class="position-relative mx-auto mx-md-0" style="max-width: 462px">
        <img
          src="assets/img/landing/app-showcase-1/features/screen03.png"
          class="rellax d-block"
          alt="Screen"
          appRellax
          data-rellax-percentage="0.5"
          data-rellax-speed="-0.5"
          data-disable-parallax-down="md"
        />
        <div
          class="rellax position-absolute top-0 end-0 w-100 h-100 me-md-n3"
          appRellax
          data-rellax-percentage="0.5"
          data-rellax-speed="0.75"
          data-disable-parallax-down="md"
        >
          <img
            src="assets/img/landing/app-showcase-1/features/screen04.png"
            alt="Screen"
          />
        </div>
      </div>
    </div>
    <div class="col-md-6 col-xl-5 offset-lg-1">
      <h2 class="pb-3">Receive payment from international bank details</h2>
      <div class="row row-cols-1 row-cols-sm-2 text-start pb-3">
        <div class="col pb-4">
          <div class="d-table bg-secondary rounded-3 flex-shrink-0 p-3 mb-3">
            <img
              src="assets/img/landing/app-showcase-1/features/payments.svg"
              alt="Easy Payments"
            />
          </div>
          <p class="mb-0">
            Manage your payments online. Mollis congue egestas egestas fermentum
            fames.
          </p>
        </div>
        <div class="col pb-4">
          <div class="d-table bg-secondary rounded-3 flex-shrink-0 p-3 mb-3">
            <img
              src="assets/img/landing/app-showcase-1/features/cashback.svg"
              alt="Regular Cashback"
            />
          </div>
          <p class="mb-0">
            A elementur and imperdiet enim, pretium etiam facilisi aenean quam
            mauris.
          </p>
        </div>
      </div>
      <a href="javascript:void(0)" class="btn btn-primary">
        Learn more
        <i class="bx bx-right-arrow-alt fs-xl ms-2 me-n1"></i>
      </a>
    </div>
  </div>

  <div class="pt-5 d-none d-dark-mode-block"></div>
</section>
