<section class="container mb-5 pb-lg-5 pb-md-4 pb-3">
  <div class="swiper mb-xl-3 text-center">
    <swiper-container
      [config]="swiperConfig"
      init="false"
      class="swiper-wrapper"
    >
      <swiper-slide class="swiper-slide">
        <div class="mb-3">
          <img
            src="assets/img/landing/software-agency-3/technologies/js-light.svg"
            alt="Logo"
            class="d-dark-mode-none d-inline-block"
          />
          <img
            src="assets/img/landing/software-agency-3/technologies/js-dark.svg"
            alt="Logo"
            class="d-dark-mode-inline-block d-none"
          />
        </div>
        <span class="text-body">Javascript</span>
      </swiper-slide>

      <swiper-slide class="swiper-slide">
        <div class="mb-3">
          <img
            src="assets/img/landing/software-agency-3/technologies/node-light.svg"
            alt="Logo"
            class="d-dark-mode-none d-inline-block"
          />
          <img
            src="assets/img/landing/software-agency-3/technologies/node-dark.svg"
            alt="Logo"
            class="d-dark-mode-inline-block d-none"
          />
        </div>
        <span class="text-body">Node.JS</span>
      </swiper-slide>

      <swiper-slide class="swiper-slide">
        <div class="mb-3">
          <img
            src="assets/img/landing/software-agency-3/technologies/react-light.svg"
            alt="Logo"
            class="d-dark-mode-none d-inline-block"
          />
          <img
            src="assets/img/landing/software-agency-3/technologies/react-dark.svg"
            alt="Logo"
            class="d-dark-mode-inline-block d-none"
          />
        </div>
        <span class="text-body">React</span>
      </swiper-slide>

      <swiper-slide class="swiper-slide">
        <div class="mb-3">
          <img
            src="assets/img/landing/software-agency-3/technologies/php-light.svg"
            alt="Logo"
            class="d-dark-mode-none d-inline-block"
          />
          <img
            src="assets/img/landing/software-agency-3/technologies/php-dark.svg"
            alt="Logo"
            class="d-dark-mode-inline-block d-none"
          />
        </div>
        <span class="text-body">PHP</span>
      </swiper-slide>

      <swiper-slide class="swiper-slide">
        <div class="mb-3">
          <img
            src="assets/img/landing/software-agency-3/technologies/angular-light.svg"
            alt="Logo"
            class="d-dark-mode-none d-inline-block"
          />
          <img
            src="assets/img/landing/software-agency-3/technologies/angular-dark.svg"
            alt="Logo"
            class="d-dark-mode-inline-block d-none"
          />
        </div>
        <span class="text-body">Angular</span>
      </swiper-slide>

      <swiper-slide class="swiper-slide">
        <div class="mb-3">
          <img
            src="assets/img/landing/software-agency-3/technologies/python-light.svg"
            alt="Logo"
            class="d-dark-mode-none d-inline-block"
          />
          <img
            src="assets/img/landing/software-agency-3/technologies/python-dark.svg"
            alt="Logo"
            class="d-dark-mode-inline-block d-none"
          />
        </div>
        <span class="text-body">Python</span>
      </swiper-slide>
    </swiper-container>

    <div
      id="technologypagination"
      class="swiper-pagination position-static mt-4 pt-lg-3 pt-2"
    ></div>
  </div>
</section>
